.gpi-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.gpi-checkbox.checked .gpi-checkbox__icon {
  background-color: #fff;
  .icon {
    opacity: 1;
  }
}

.gpi-checkbox:hover .gpi-checkbox__icon {
  background-color: #141c4f3b;
}

.gpi-checkbox__icon {
  border: 1px solid #141c4f3b;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  .icon {
    width: 12px;
    height: 8px;
    opacity: 0;
    transition: all 0.2s ease;
  }
}

.gpi-checkbox__label {
  margin-left: 1.3rem;
  flex: 1;
}

.gpi-checkbox-blue-wrapper-with-label {
  cursor: pointer;
  background: #f1f4ff;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-family: NotoSemiBold;

  .gpi-checkbox {
    padding: 0.9rem 1.1rem 0.9rem 1.4rem;
  }
}
