.gpi-control-container {
  position: relative;
  margin-bottom: 2.4rem;
  width: 100%;

  &.focus {
    z-index: 1;
  }
}

.gpi-input__container {
  border-radius: 0.8rem;
  border: 0.1rem solid get-nested($input-colors, normal, border);
  padding: 0.2rem;
  background-color: get-nested($input-colors, normal, background);

  &.focus {
    border: 0.1rem solid get-nested($input-colors, focus, border);
  }

  &.invalid {
    border: 0.1rem solid get-nested($input-colors, invalid, border);
  }
}

.gpi-input {
  font-size: 1.4rem;
  padding: 0.2rem 1.2rem;
  display: block;
  width: 100%;
  height: 3.9rem;
  font-family: NotoMedium, sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: get-nested($input-colors, normal, text);
  border: none;

  &--m {
    height: 56px;
    font-size: 16px;
    padding: 5px 0 5px 24px;
  }

  &.focus {
    color: get-nested($input-colors, focus, text);
  }

  &.invalid {
    color: get-nested($input-colors, invalid, text);
  }
}

.gpi-input__label {
  font-family: NotoMedium;
  font-size: 1.4rem;
  position: absolute;
  pointer-events: none;
  left: 1.4rem;
  top: 1.1rem;
  border-radius: 0.5rem;
  transition: 0.1s ease all;
  -moz-transition: 0.1s ease all;
  -webkit-transition: 0.1s ease all;
  color: get-nested($input-colors, normal, label);

  &.float {
    top: -1.1rem;
    left: 1rem;
    background-color: white;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-family: NotoBold, sans-serif;
    line-height: 2rem;
    color: get-nested($input-colors, focus, label) !important;
  }

  &.focus {
    color: #9199b4;
  }

  &.focus.invalid {
    color: get-nested($input-colors, invalid, label);
  }
}

.gpi-input__invalid-sign {
  box-sizing: content-box;
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  border-radius: 50%;
  right: -1.4rem;
  top: 0.7rem;
  text-align: center;

  border: 0.3rem solid $white;
  background-color: $danger;
}

.gpi-input__invalid-sign-icon {
  box-sizing: content-box;
  height: 2.4rem;
  margin: 0 0.6rem;
}

.gpi-input__invalid-sign-icon:hover ~ .gpi-input__invalid-tooltip {
  display: block;
}

.gpi-input__placeholder {
  color: get-nested($input-colors, normal, placeholder);
  font-family: NotoMedium;
  font-size: 1.4rem;
  position: absolute;
  pointer-events: none;
  left: 1.6rem;
  top: 1.1rem;
}

.gpi-input__suffix {
  position: absolute;
  right: 2.4rem;
  top: 1.4rem;
}

.gpi-input__prefix {
  position: absolute;
  left: 1.4rem;
  top: 1.4rem;
}

.gpi-text-area {
  height: unset;
  resize: none;
}

.gpi-input__wrap--m {
  &.disabled {
    pointer-events: none;
    .gpi-input__label {
      opacity: 0.3;
    }
    .gpi-input__label.float {
      background-color: rgba(247, 248, 250, 1);
    }

    .gpi-input__container {
      // background-color: rgba(247, 248, 250, 0.8);
      pointer-events: none;
      border-color: rgba(222, 224, 232, 1);

      input {
        color: rgba(14, 33, 94, 0.7);
        pointer-events: none;
        border-color: rgba(222, 224, 232, 1);
      }
    }

    .gpi-select {
      color: rgba(222, 224, 232, 1);
    }
    .gpi-modal__announce {
      opacity: 0.3;
    }
  }

  .gpi-holder__choose-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    /*   width: 34px;
    height: 34px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    /* The circle */
    .sonar-emitter {
      z-index: 99;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 9999px;
      background-color: rgba(222, 224, 232, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease-in-out;
    }
    /* the 'wave', same shape and size as its parent */
    .sonar-wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 9999px;
      background-color: rgba(237, 28, 124, 0.4);
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }

    &.active {
      .sonar-emitter {
        background-color: rgba(237, 28, 124, 1);

        .sonar-wave {
          animation: sonarWave 2s linear infinite;
        }
      }
    }

    @keyframes sonarWave {
      from {
        opacity: 1;
      }

      to {
        transform: scale(1.7);
        opacity: 0;
      }
    }

    .icon {
      display: flex;
      width: 10px;
      height: 10px;
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }

  @keyframes sonar-effect {
    0% {
      opacity: 0.3;
    }

    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 5px #ed1c7c4d, 0 0 10px 10px #ed1c7c4d,
        0 0 0 10px #ed1c7c4d;
    }

    100% {
      box-shadow: 0 0 0 5px #ed1c7c4d, 0 0 10px 10px #ed1c7c4d,
        0 0 0 10px #ed1c7c4d;
      transform: scale(1.2);
      opacity: 0;
    }
  }

  input {
    height: 56px;
    font-size: 16px;
    padding: 0 0 0 24px;
    font-weight: initial;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 0 0 0 16px;
      height: 48px;
    }
  }

  .gpi-select__panel {
    top: 55px;
    padding: 0;

    &-option {
      cursor: pointer;
    }
  }

  .gpi-select__panel-option {
    padding: 0 24px;
    font-size: 14px;
    height: 32px;
  }

  .gpi-select__main-input {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .gpi-input__label {
    font-size: 14px;
    top: 18px;
    left: 24px;

    @media (max-width: 768px) {
      top: 14px;
      left: 16px;
      color: #0e215e;
    }

    &.float {
      top: -6px;
      left: 17px;
      background-color: white;
      font-size: 14px;
      line-height: 14px;
      padding: 0 8px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 17px;
        padding: 0 4px;
        left: 12px;
      }
    }
  }

  .gpi-select__main-icon {
    top: 50%;
    transform: translateY(-50%);
  }

  .gpi-input__container {
    padding: 0;
    border-radius: 8px;

    &.focus {
      border-color: var(--color-holder-list-active);
    }
  }

  .gpi-control-container {
    margin-bottom: 10px;
  }

  .gpi-input__invalid-sign {
    width: 100%;
    height: initial;
    position: initial;
    border: 0;
    background: transparent;
    transform: none;

    .gpi-tooltip {
      display: flex;
      flex-direction: column;
      max-width: initial;
      width: 100%;
      height: initial;
      position: initial;
      transform: none;
      background-color: transparent;
      color: #e30000;
      font-size: 14px;
      line-height: 19px;
      flex-direction: column;
      text-align: left;
      border: 0;
      padding: 0;
      margin-top: 10px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 19px;
        margin-top: 5px;
      }
    }

    .gpi-icon {
      display: none;
    }
  }
}

.mat-chip-list--m {
  &.disabled {
    pointer-events: none;
  }

  .mat-chip-list-wrapper {
    margin: 0;
  }

  .gpi-input__wrap--m {
    width: 100%;
    margin-bottom: 5px !important;
  }

  .gpi-control-container {
    margin-bottom: 0;
  }

  .gpi-input--m {
    width: 100%;
    flex: 1;
    margin: 0;
    height: 46px;
    margin: 0 !important;
  }
}

.cdk-global-overlay-wrapper {
  overflow: auto;
  pointer-events: auto;

  .cdk-overlay-pane.gpi-modal {
    overflow: auto;
  }
}

.mat-chip--m {
  margin: 10px 10px 0 0;
  padding: 10px 12px;
  background-color: var(--color-clinics-text-box);
  border-radius: 8px;
  min-width: 65px;
  height: initial;
  font-family: NotoSemiBold, sans-serif;
  font-size: 14px;
  color: $dark-gray;
  display: flex;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
  &:hover {
    border: 1px solid rgba(237, 28, 124, 1);
  }

  .mat-chip-ripple {
    display: none;
  }

  .mat-chip-remove {
    margin-left: 16px;
    color: initial;
    opacity: 1;

    &:hover {
      opacity: 1 !important;
    }
  }
  .icon-bg {
    margin-left: 16px;
    width: 20px;
    height: 20px;
    background-color: #9199b4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .icon {
    width: 10px;
    height: 10px;
  }
}

.mat-chip.mat-standard-chip::after {
  background: none !important;
}

.mat-standard-chip:hover::after,
.mat-standard-chip:focus::after {
  opacity: 1 !important;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.gpi-select__wrap {
  margin-bottom: 32px !important;
  @media (max-width: 768px) {
    margin-bottom: 24px !important;
  }
  .gpi-control-container {
    margin-bottom: 0;

    &.focus {
      .gpi-select__main-icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .gpi-select__main-icon {
    right: 20px;
    transition: 0.3s ease-in-out;
  }

  .gpi-select__main {
    height: 56px;
    position: relative;
    @media (max-width: 768px) {
      height: 48px;
    }
  }

  .gpi-input__label {
    top: 18px;
    transform: none;
    @media (max-width: 768px) {
      top: 14px;
    }
    &.float {
      top: -6px;
    }
  }

  .gpi-select__main-input {
    top: 0;
    transform: none;
    font-family: NotoRegular, sans-serif;
    padding-right: 50px;
  }

  .gpi-select--m {
    font-size: 16px;
  }

  .gpi-select__panel-option {
    height: initial;
    margin-bottom: 8px;
    padding: 0;
    width: 100%;
    font-family: NotoSemiBold, sans-serif;
    font-size: 14px;
    color: $sapphire;
    line-height: initial;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.active,
    &:hover {
      color: $ruby;
      background: none;
    }
  }

  .gpi-select__panel {
    transition: 0.2s ease-in-out;
    max-height: 0;
    padding-bottom: 0;
    display: flex;
    background: transparent;
    box-shadow: none;
    position: initial;
    border: none;
    border-radius: 0;
    width: calc(100% - 48px);
    margin-left: 24px;
    @media (max-width: 768px) {
      width: calc(100% - 32px);
      margin-left: 16px;
    }
    &.active {
      padding-bottom: 16px;
      padding-top: 16px;
      max-height: 160px;
      border-top: 1px solid var(--color-calendar-border);

      &:before {
        height: 1px;
      }
    }
  }

  .gpi-select__panel-scroll {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .gpi-select {
    height: initial;
  }
}
.gpi-select__container {
  margin-top: 40px;
  @media (max-width: 768px) {
    margin-top: 32px;
  }
}
.mat-chip-list-wrapper {
  .gpi-input__container {
    border: 0;
    border-radius: 0;

    &.focus {
      .mat-chip-input {
        border-color: $sapphire;
      }
    }
  }

  .mat-chip-input {
    border-radius: 8px;
    margin: 0 !important;
    border: 0.1rem solid $gray;
    width: 100%;
    flex: initial;
  }
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
  border: 0.1rem solid $sapphire;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0;
  background: white;
  margin: -8px 0 0;
  padding: 0 24px;
  position: relative;
  @media (max-width: 768px) {
    padding: 0 16px;
  }

  &:before {
    content: "";
    position: absolute;
    width: calc(100% - 48px);
    left: 24px;
    height: 1px;
    background: $gray;
    top: 8px;
    @media (max-width: 768px) {
      width: calc(100% - 32px);
      left: 16px;
    }
  }

  .mat-autocomplete-panel {
    box-shadow: none;
    margin-top: 32px;
    padding: 0 0 16px;
    max-height: 160px;

    &::-webkit-scrollbar-thumb {
      background: $sapphire;
    }

    .mat-option {
      height: initial;
      margin-bottom: 8px;
      padding: 0;
      width: 100%;
      font-family: NotoSemiBold, sans-serif;
      font-size: 14px;
      line-height: 23px;
      color: $sapphire;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        background: transparent;
        color: $ruby;
      }
    }
  }

  .mat-autocomplete-panel
    .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    background: transparent;
    color: $ruby;
  }
}
.error-text {
  color: #e30000;
  font-family: NotoSemiBold, sans-serif;
  font-size: 14px;
  line-height: 19px;
  margin-top: 6px;
}

.add-btn {
  /* The circle */
  .sonar-emitter {
    z-index: 99;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    background-color: rgba(222, 224, 232, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
  }
  /* the 'wave', same shape and size as its parent */
  .sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: rgba(237, 28, 124, 0.4);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  &.active {
    cursor: pointer;
    .sonar-emitter {
      background-color: rgba(237, 28, 124, 1);

      .sonar-wave {
        animation: sonarWave 2s linear infinite;
      }
    }
  }

  @keyframes sonarWave {
    from {
      opacity: 1;
    }

    to {
      transform: scale(1.7);
      opacity: 0;
    }
  }

  .icon {
    display: flex;
    width: 10px;
    height: 10px;
  }

  svg {
    width: 10px;
    height: 10px;
  }
}
.medicines-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px dashed #ebedf5;
  &--item {
    &:nth-of-type(1) {
      width: calc(65% - 35px);
    }
    &:nth-of-type(2) {
      width: calc(35% - 35px);
    }
    &:nth-of-type(3) {
      width: 24px;
      margin-top: 18px;
    }
    .gpi-control-container {
      margin-bottom: 0;
    }
  }
  .gpi-modal__announce {
    margin: 7px 0 0 10px !important;
  }
}
.chips-container {
  width: 100%;
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
}
.ambulatory-block {
  margin-top: 24px;
  padding-top: 32px;
  border-top: 1px dashed #ebedf5;
  &--item {
    position: absolute;
    top: 16px;
    right: 20px;
  }
}
.chosen-clinic {
  margin-bottom: 32px;
  .name {
    color: #0e215e;
    font-size: 16px;
    line-height: 22px;
    font-family: NotoBold, sans-serif;
    margin: 0;
  }
  .value {
    margin-top: 6px;
    margin-bottom: 0;
    color: #ed1c7c;
    font-size: 16px;
    line-height: 22px;
    font-family: NotoSemiBold, sans-serif;
  }
}
