html {
  @each $size, $percentage in $scaling-breakpoints {
    @media (max-width: #{$size}px) {
      font-size: $percentage;
    }
  }

  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: NotoRegular, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: none;
}

.mobile {
  @include media-above(small) {
    display: none !important;
  }
}

.desktop {
  @include media-below(small) {
    display: none !important;
  }
}

.icon {
  height: inherit;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  &.active {
    transition: 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  &-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .gpi-modal__container {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 12px;
    &__content {
      width: 100%;
      padding: 32px 48px 0 48px;
      &--mModal {
        .medicines-block {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }
      &--aModal {
        .ambulatory-block {
          margin: 0;
          padding: 0;
          border: 0;
        }
      }
      &--rModal {
        .gpi-person-modal__actions--m {
          display: flex;
          justify-content: space-between;
          button {
            width: calc(50% - 20px);
          }
        }
        .modal-question {
          margin: 38px 0 0 0;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
          color: #0e215e;
          font-family: NotoSemiBold, sans-serif;
        }
      }
    }
  }
}
