@mixin font-face($font-family, $url) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.eot");
    src: url("#{$url}.eot?#iefix") format("embedded-opentype"),
      url("#{$url}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face("NotoRegular", "../fonts/NotoSansGeorgian-Regular");
@include font-face("NotoMedium", "../fonts/NotoSansGeorgian-Medium");
@include font-face("NotoSemiBold", "../fonts/NotoSansGeorgian-SemiBold");
@include font-face("NotoBold", "../fonts/NotoSansGeorgian-Bold");
