/****  Myriad Georgian ****/

@font-face {
  font-family: MiriadBold;
  src: url('/fonts/MYRIADGEOMTAVRULIBOLD.TTF');
}

@font-face {
  font-family: MiriadMedium;
  src: url('/fonts/MYRIADGEOMTAVRULIMEDIUM.TTF');
}

/**** End Myriad Georgian ****/


/****  Noto Sans Georgian ****/


@font-face {
  font-family: NotoMedium;
  src: url('/fonts/NOTOSANSGEORGIAN-MEDIUM.TTF');
}

@font-face {
  font-family: NotoRegular;
  src: url('/fonts/NOTOSANSGEORGIAN-REGULAR.TTF');
}

@font-face {
  font-family: NotoSemiBold;
  src: url('/fonts/NOTOSANSGEORGIAN-SEMIBOLD.TTF');
}


@font-face {
  font-family: NotoBold;
  src: url('/fonts/NOTOSANSGEORGIAN-BOLD.TTF');
}

@font-face {
  font-family: NotoExtraBold;
  src: url('/fonts/NOTOSANSGEORGIAN-EXTRABOLD.TTF');
}

/**** End Noto Sans Georgian ****/

