$white: #ffffff;
$dark-white: #F6F6F6;
$black: #111113;
$transparent: transparent;


//card label colors
$new-color: #EE5A24;
$hot-color: #f30811;
$in-promotion-color: #dd1451;
$featured-color: #009432;


$card-overlay: rgba(0, 0, 0, .7);
$part-shadow: rgba(0, 0, 0, .5);
$part-shadow-1: rgba(0, 0, 0, .2);

//new colors
$input-red: #EF5066;
$input-green: #1EB789;
$input-active-green: rgba(48, 206, 117, 0.2);
$input-active-red: rgba(225, 73, 73, 0.2);
$input-active-purple: rgba(46, 131, 197, 0.4%);


//09/24/2020 colors
$bg-shade-1: #00072E;
$bg-shade-2: #09103A;
$bg-shade-3: #0F194D;
$bg-shade-4: #313A6A;
$bg-shade-5: #0D164D;
$bg-shade-6: #060E40;
$bg-shade-7: #E0DEE2;
$bg-shade-8: #0B1446;
$bg-shade-9: #565656;
$bg-shade-10: #787878;
$bg-shade-11: #3c3c3c;
$bg-shade-12: #bfbfbf;
$bg-shade-13: #c4c4c4;
$bg-shade-14: #D4D7E8;
$bg-shade-15: #F5F7FE;
$bg-shade-16: #9DA3C5;
$bg-shade-17: #1D2860;
$bg-shade-18: #0C1140;
$bg-shade-19: #1D2964;
$bg-shade-20: #6B78B7;

$sidebar-border-color:#1B2557;
//disable color
$component-color-1: #2F3B75;
//secondary
$component-color-2: #6070BE;
//active color
$component-active-color: #2E83C5;

$component-red: #F2324C;
$component-green: #10B429;
$component-yellow: #fed330;

$sidebar-main-color: #00002B;
$footer-main-color: #010626;


//widget colors
$wgt-white: #EBEBEB;
$wgt-grey: #D8D8D8;
$wgt-transparent: rgba(255, 255, 255, 0.9);
$pusher-transparent: rgba(241, 241, 241, 0.9);

$btn-transparent: rgba(241, 241, 241, 0.5);

$promo-yellow: #F8AD2E;

$component-color-3: #9CBEFF;
$component-color-4: #228BDC;
$component-color-5: #3248B4;
$component-color-6: #344079;
$component-color-7: #8E9AD2;
$component-color-8: #FFEE00;
$component-color-9: #DBD416;
$component-color-10: #ABB0D1;
$component-color-11: #6c728e;
$component-color-12: #A8B7FF;


$white: #fff;
$purple: #583b94;
$blue: #1b3d6b;
$termsblue: #2e4483;

//deposit
$w-bg: #0B1240;
$w-lbg: #0F194D;
$w-c: #6070BE;
$w-g: #10B429;
$w-wButton: #1D2967;
$w-progress: #07103D;
$w-bButton: #0485EA;