.error .error-message {
    margin: 0;
}
.gameTip ul {
    max-height: 178px;
}
#catSlider .categories-item {
    max-width: 170px;
}
.modal-backdrop {
    z-index: 9999999;
}

.divingForDough {
    .promo_section_content_hint.width {
        width: 80%;
    }
    .promo_section_content_hint-juicy_yellow {
        font-size: 25px;
        font-family: $montBold;
        @media #{$breakpoint-xl-ex} {
            font-size: 21px;
        }
        @media #{$breakpoint-md} {
            font-size: 16px;
        }
    }
    .promo_section_content_hint-easter_p {
        font-size: 18px;
        @media #{$breakpoint-md} {
            font-size: 16px;
        }
    }
    .promo_section_content_hint-juicy_yellow-prize.lg {
        color: #feb919;
        font-size: 82px;
        margin: 0 auto;
        font-family: $montBold;
        @media #{$breakpoint-xxl} {
            font-size: 62px;
        }
        @media #{$breakpoint-xl-ex} {
            font-size: 52px;
        }
        @media #{$breakpoint-md} {
            font-size: 32px;
        }
    }
    .prizes.easterEscapeTop {
        margin: 20px auto 0;
    }
    .promo_section_banner_info.easter-left {
        left: 10px;
        width: 320px;
        top: 55%;
        @media (max-width: 1580px) {
            max-width: 295px;
            width: 95%;
            left: 0;
            top: auto;
            bottom: 0;
            transform: translateY(0);
            border-radius: 10px;
            padding: 12px 15px 5px;
            .promo_section_banner_info_reward {
                font-size: 20px;
                @media #{$breakpoint-md} {
                    font-size: 22px;
                }
                @media #{$breakpoint-xxs} {
                    font-size: 18px;
                }
            }
            @media #{$breakpoint-md} {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                bottom: auto;
                max-width: 355px;
                padding: 20px 15px;
                border-radius: 15px;
                .promo_section_banner_info_p {
                    padding: 0;
                }
            }
        }
    }
}
.bngBirthday {
    .promo_section_banner_info.easter-left {
        left: 10px;
        width: 380px;
        top: 55%;
        @media #{$breakpoint-xxl} {
            width: 355px;
        }
        @media (max-width: 1580px) {
            max-width: 295px;
            width: 95%;
            left: 0;
            top: auto;
            bottom: 0;
            transform: translateY(0);
            border-radius: 10px;
            padding: 12px 15px 5px;
            .promo_section_banner_info_reward {
                @media #{$breakpoint-xl-ex} {
                    font-size: 20px;
                }
                @media #{$breakpoint-md} {
                    font-size: 35px;
                }
            }
            @media #{$breakpoint-md} {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                bottom: auto;
                max-width: 355px;
                padding: 20px 15px;
                border-radius: 15px;
                .promo_section_banner_info_p {
                    padding: 0;
                }
            }
        }
        .promo_section_banner_info_p {
            line-height: 1.7em;
            @media (max-width: 1580px) {
                line-height: 1.2em;
            }
        }
    }
}
