.footer {
  background-color: $footer-main-color;
  background-image: url("../img/graphics/footer-bg.png");
  background-size: cover;
  background-position: center bottom;
  margin-top: 100px;
  &-container{
    padding-bottom: 100px;
  }
  &__basic {
    padding: 40px 0 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .social {
      a {
        display: inline-block;
        margin-right: 10px;
      }
    }
    @media #{$breakpoint-lg} {
      text-align: center;
    }
    &-menu {
      padding: 0 10px;
      @media #{$breakpoint-lg} {
        margin-top: 25px;
      }
    }
    h4 {
      color: $dark-white;
      font-family: $montSemiBold;
      font-size: 14px;
      margin-bottom: 14px;
    }
    p,
    a {
      color: $component-color-2;
      font-size: 14px;
      display: block;
      font-family: $montRegular;
      line-height: 24px;
    }
    a {
      transition: color 0.15s ease;
      &:hover {
        color: $white;
      }
    }
    &-text{
      color: $component-color-6!important;
      margin-top: 10px;
    }
    &-img-18{
      @media #{$breakpoint-lg} {
        margin-top: 25px;
      }
    }
  }
  &__paddings {
    padding: 30px 0;
  }
  &__payment,
  &__providers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      padding: 10px 20px;
      display: inline-block;
      width: 100%;
      max-width: 180px;
      max-height: 60px;
      object-fit: contain;
      @media #{$breakpoint-lg} {
        width: 100%;
        max-width: 90px;
        max-height: 48px;
        object-fit: contain;
        padding: 7px;
      }
    }
  }
  &__providers{
    .img{
      &.disabled{
        img{
          filter: grayscale(1);
          opacity: .5;
        }
        &:hover{
          .gameProvider-item_popover{
            opacity: 1;
          }
        }
      }
      .gameProvider-item_popover{
        position: absolute;
        z-index: 2;
      }
    }
  }
  &__payment{
    &-visa{
      @media #{$breakpoint-lg} {
        max-width: 60px!important;
      }
    }
    &-mastercard{
      @media #{$breakpoint-lg} {
        max-width: 45px!important;
      }
    }
    &-skrill{
      @media #{$breakpoint-lg} {
        max-width: 60px!important;
      }
    }
    &-applePay{
      @media #{$breakpoint-lg} {
        max-width: 70px!important;
      }
    }
    &-perfectMoney{
      @media #{$breakpoint-lg} {
        max-width: 130px!important;
      }
    }
    &-muchBetter{
      @media #{$breakpoint-lg} {
        max-width: 130px!important;
      }
    }
    &-mifinity{
      max-height: 80px!important;
      @media #{$breakpoint-lg} {
        max-height: 60px!important;
      }
    }
  }

  &__partners {
    display: flex;
    align-items: center;
    // justify-content: center;
    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
    }
    &_logo {
      height: 56px;
      margin: 10px auto 0;
      display: block;
      object-fit: contain;
      @media #{$breakpoint-lg} {
        height: 40px;
      }
    }
    &-link {
      display: block;
      margin: 0 20px;
      @media #{$breakpoint-xs} {
        margin: 0 10px;
      }
    }
    &__title {
      font-size: 12px;
      color: $white;
      font-family: $montRegular;
      text-align: center;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $component-color-2;
    opacity: 0.3;
    &-vertical {
      height: 100%;
      min-height: 140px;
      width: 1px;
      background-color: $component-color-2;
      opacity: 0.3;
    }
  }
  &__bottom {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    @media #{$breakpoint-lg} {
      flex-direction: column;
      align-items: center;
    }
    img {
      margin-right: 20px;
      @media #{$breakpoint-lg} {
        margin: 20px 0 10px;
      }
    }
    h4{
      color: $dark-white;
      font-family: $montSemiBold;
      font-size: 14px;
      margin-bottom: 14px;
    }
    p {
      line-height: 22px;
      color: $component-color-2;
      margin: 0;
      font-family: $montMedium;
      font-size: 13px;
    }
  }
}
