.modal-open {
  padding-right: 0px !important;
}
.b-modal {
  &__banner {
    display: flex;
    width: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
    img {
      @extend .cover-img;
    }
    @media #{$breakpoint-lg} {
      border-radius: 16px;
    }
    .banner {
      width: 50%;
      min-width: 50%;
      @media #{$breakpoint-lg} {
        display: none;
      }
    }
  }
  &__tab {
    display: none;
    &:first-child {
      display: block;
    }
  }
  &__success {
    img {
      margin-bottom: 40px;
    }
  }
  &__dialog {
    margin: 0.5rem auto;
    &:not(.modal-lg) {
      max-width: 600px;
    }
    &.modal-md {
      max-width: 460px;
    }
    &.modal-sm {
      max-width: 353px;
    }
  }
  &__title,
  &__text {
    color: $dark-white;
  }
  &__title {
    font-size: 20px;
    font-family: $montMedium;
    margin-bottom: 15px;
    &-lg {
      font-size: 22px;
    }
  }
  &__text {
    color: $component-color-12;
    font-size: 14px;
    margin-bottom: 30px;
    a {
      color: $component-active-color;
    }
    &.white {
      color: $white;
    }
    &-link {
      font-family: $montMedium;
      color: #2e83c5;
      font-size: 14px;
      text-transform: capitalize;
      text-decoration: underline;
      &-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
    }
    &-list {
      display: flex;
      margin-bottom: 25px;
      flex-direction: column;
      align-items: center;
      &-item {
        display: flex;
        margin-bottom: 2px;
        font-size: 12px;
        &-white {
          color: white;
          font-family: $montBold;
          text-transform: capitalize;
          margin-right: 5px;
        }
      }
    }
  }
  &__content {
    background-color: $bg-shade-2;
    border-radius: 16px;
    border: none;
    margin: 0.5rem;
  }
  &__header {
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  &__body {
    padding: 50px 20px;
    @media #{$breakpoint-lg} {
      padding: 40px 20px;
    }
    &-sm {
      padding: 20px 25px;
      @media #{$breakpoint-lg} {
        padding: 20px;
      }
    }
    &-md {
      padding: 20px 25px 25px;
      @media #{$breakpoint-lg} {
        padding: 20px;
      }
    }
  }
  &__footer {
    &-bonusSuccess {
      &-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 5px;
        color: $component-color-12;
        font-size: 14px;
        font-family: $montMedium;
        background-color: $bg-shade-3;
        text-decoration: underline;
        cursor: pointer;
        &.collapsed {
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          .icon {
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }
        .icon {
          fill: $component-color-12;
          width: 14px;
          margin-left: 15px;
          transform: rotate(180deg);
          transition: 0.3s;
        }
        &-body {
          background-color: $bg-shade-3;
          border: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          color: $component-color-2;
          font-size: 12px;
          font-family: $montRegular;
          padding: 0 1.25rem 1.25rem;
        }
      }
    }
  }
  // &__footer-bonusSuccess-btn{
  //   &.active{
  //     .b-modal__footer-bonusSuccess-info{
  //       display: block;
  //     }
  //   }
  //   .b-modal__footer-bonusSuccess-info{
  //     display: none;
  //   }
  // }
}
.banner {
  &__registration {
    &-terms {
      opacity: 0;
      transition: 0.3s;
      // height: 500px;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      padding: 40px 20px 25px 35px;
      background-color: $bg-shade-3;
    }
    &-title {
      color: $white;
      font-size: 16px;
      font-family: $montSemiBold;
    }
    &-text {
      height: 82%;
      overflow-y: auto;
      font-family: $montRegular;
      font-size: 12px;
      color: $white;
      padding-right: 20px;
      line-height: 20px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $bg-shade-2;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb {
        background: $component-color-2;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $component-color-2;
      }
    }
    &-btn {
      background-color: $component-active-color;
      color: $white;
      font-size: 12px;
      font-family: $montRegular;
      cursor: pointer;
      border-radius: 5px;
      padding: 5px 15px;
      margin-top: 25px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      .icon {
        width: 12px;
        fill: $white;
        margin: 0 10px;
      }
    }
    &.terms-active {
      width: 60%;
      min-width: 60%;
      @media #{$breakpoint-lg} {
        width: 100%;
        min-width: 100%;
        display: block;
      }
      img {
        display: none;
      }
      .banner__registration-terms {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &_modal-lg {
      &.terms-active {
        @media only screen and (min-width: 1200px) {
          max-width: 930px;
        }
        .b-modal__banner {
          @media #{$breakpoint-lg} {
            height: 700px;
          }
        }
      }
    }
    .promotions__banner__text {
      &-bg {
        min-width: auto;
        width: 90%;
        padding: 19px 5px;
        top: 25%;
        z-index: 0;
      }
    }
  }
}
#signUpModal {
  .b-modal__body {
    @media (max-width: 1200px) {
      padding: 30px 10px;
    }
  }
  .b-modal__dialog {
    @media (min-width: 1200px) {
      // max-width: 1000px;
      max-width: 1150px;
    }
  }
  .b-form__body {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
      padding: 0;
    }
    .b-form__wrapper {
      width: 100%;
      &.half {
        width: calc(50% - 5px);
      }
    }
  }
  .dropdown__elem {
    background: #0f194d;
    width: 100%;
    .text--active {
      display: flex;
      align-items: center;
      pointer-events: none;
      line-height: 1;
      img {
        margin-right: 10px;
        width: 19px;
        height: 19px;
      }
    }
    .dropdown {
      padding-top: 0;
      &__item {
        padding: 8px 15px;
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          width: 19px;
          height: 19px;
          pointer-events: none;
        }
        span {
          line-height: 1;
          pointer-events: none;
        }
      }
    }
  }
}
.promotionsModal {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $bg-shade-1;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: $component-color-2;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $component-color-2;
  }
  &-md {
    &.modal-md {
      max-width: 600px;
    }
  }
  &_header {
    &_img {
      border-radius: 16px 16px 0 0;
      height: 225px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      &.lg {
        height: 240px;
        @media #{$breakpoint-lg} {
          height: 164px;
        }
      }
      @media #{$breakpoint-lg} {
        height: 145px;
      }
    }
    &-bg {
      border-radius: 16px;
      background-color: $bg-shade-8;
    }
    &-title {
      font-size: 18px;
      font-family: $montMedium;
      color: $white;
      @media #{$breakpoint-xxl} {
        font-size: 16px;
      }
      @media #{$breakpoint-lg} {
        font-size: 12px;
      }
      &-lg {
        font-size: 25px;
        font-family: $montBold;
        color: $promo-yellow;
        @media #{$breakpoint-xxl} {
          font-size: 18px;
        }
        @media #{$breakpoint-lg} {
          font-size: 16px;
        }
      }
      &-cont {
        padding: 10px 0;
        text-align: center;
      }
    }
  }
  &__title {
    color: $white;
    font-size: 18px;
    font-family: $montBold;
    text-align: center;
    margin: 15px 0;
    @media #{$breakpoint-lg} {
      margin: 7px 0;
      font-size: 14px;
    }
    &-md {
      text-align: center;
      color: $white;
      font-size: 14px;
      font-family: $montSemiBold;
      line-height: 26px;
      @media #{$breakpoint-lg} {
        font-size: 14px;
      }
      &-dark {
        color: $component-color-2;
      }
      &-yellow {
        color: $promo-yellow;
        margin-bottom: 10px;
        font-size: 18px;
      }
      &.margins {
        margin: 25px 0;
        @media #{$breakpoint-lg} {
          margin: 15px 0;
        }
      }
    }
    &-large {
      color: $promo-yellow;
      font-family: $montBold;
      font-size: 45px;
      margin: 0 0 25px 0;
      @media #{$breakpoint-lg} {
        font-size: 25px;
        margin: 0 0 15px 0;
      }
    }
  }
  &__text {
    &-cont {
      text-align: center;
      margin-top: 20px;
    }
    color: $component-color-2;
    font-size: 14px;
    font-family: $montRegular;
    margin-bottom: 0;
    &.green {
      color: $component-green;
    }
    &-white {
      color: $white;
    }
  }
  &__img {
    &-deposit {
      &-1 {
        margin: 15px 0;
        object-fit: contain;
        max-height: 270px;
        @media #{$breakpoint-xxl} {
          max-height: 220px;
        }
        @media #{$breakpoint-lg} {
          max-height: 200px;
        }
      }
      &-items {
        margin: 20px 0 30px 0;
        object-fit: contain;
        max-height: 193px;
      }
    }
  }
  &_btn-green {
    background-color: $component-green !important;
  }
  &_btn-blue {
    font-size: 14px;
    padding: 12px 35px;
    @media #{$breakpoint-md} {
      padding: 12px 8px;
      font-size: 12px;
      max-width: 320px;
    }
    @media #{$breakpoint-xxs} {
      padding: 12px 3px;
    }
  }
  &_steps_img {
    display: block;
    margin: auto;
  }
  &__modal {
    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
      @media #{$breakpoint-lg} {
        padding: 1rem;
      }
      &.paddings {
        padding: 0.5rem 1rem 2rem;
      }
    }
    &_content {
      &-border {
        border: 1px dashed #485597;
        width: 100%;
        padding: 12px 25px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        @media #{$breakpoint-md} {
          padding: 11px 7px 30px;
        }
      }
      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &_title {
          color: $white;
          font-size: 16px;
          font-family: $montRegular;
          margin-top: 15px;
        }
        &_item {
          display: flex;
          justify-content: space-between;
          width: 100%;
          &_text {
            color: $bg-shade-16;
            font-family: $montMedium;
            font-size: 17px;
            margin: 0;
            padding-top: 20px;
            @media #{$breakpoint-md} {
              font-size: 12px;
            }
            &.bold {
              font-family: $montSemiBold;
            }
          }
        }
      }
    }
    &_box {
      border-radius: 15px;
      background: rgb(46, 58, 116);
      background: linear-gradient(184deg, rgba(46, 58, 116, 1), rgba(17, 27, 79, 1) 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &.lg {
        width: 183px;
        height: 221px;
        padding: 15px;
        margin: 5px 10px;
        @media #{$breakpoint-md} {
          width: 142px;
          height: 180px;
        }
        @media #{$breakpoint-xs} {
          width: 130px;
          height: 160px;
        }
        @media #{$breakpoint-xxs} {
          width: 97px;
          height: 132px;
        }
      }
      &.sm {
        width: 100%;
        height: 173px;
        position: relative;
        @media #{$breakpoint-md} {
          flex-direction: row;
          height: 100px;
        }
      }
      &.gradient {
        background: rgb(46, 58, 116);
        background: linear-gradient(280deg, rgba(46, 58, 116, 1), rgba(9, 16, 58, 1) 100%);
        @media #{$breakpoint-md} {
          background: linear-gradient(0deg, #2e3a74, #09103a 100%);
        }
      }
      &-container {
        display: flex;
        align-items: center;
        &.sm {
          margin-top: 20px;
          width: 100%;
          margin-bottom: 20px;
          @media #{$breakpoint-md} {
            flex-direction: column;
            width: 70%;
          }
          @media #{$breakpoint-xs} {
            width: 100%;
          }
        }
      }
      &_img {
        height: 102px;
        object-fit: contain;
        @media #{$breakpoint-xxs} {
          height: 68px;
        }
        &_bg {
          background-color: $component-color-1;
          border-radius: 8px;
          width: 62px;
          height: 62px;
          position: relative;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          @media #{$breakpoint-md} {
            margin-right: 10px;
            margin-bottom: 0;
          }
          .promotionsModal__modal_box_img-sm {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -4px;
            @media #{$breakpoint-md} {
              height: 67px;
              top: 3px;
              bottom: initial;
              object-fit: cover;
            }
          }
        }
        // &-sm {
        //   height: 81px;
        // }
      }
      &_text {
        color: $white;
        font-size: 16px;
        font-family: $montMedium;
        @media #{$breakpoint-md} {
          font-size: 14px;
        }
        &.sm {
          font-size: 14px;
          @media #{$breakpoint-md} {
            font-size: 12px;
            text-align: left;
          }
        }
        &-lg {
          color: $promo-yellow;
          font-size: 35px;
          font-family: $montBold;
          display: block;
          @media #{$breakpoint-md} {
            font-size: 30px;
          }
          @media #{$breakpoint-xxs} {
            font-size: 22px;
          }
          &-sign {
            font-size: 30px;
            @media #{$breakpoint-md} {
              font-size: 25px;
            }
            @media #{$breakpoint-xxs} {
              font-size: 18px;
            }
          }
          &.sm {
            font-size: 27px;
            @media #{$breakpoint-md} {
              // font-size: 20px;
              display: inline-block;
              color: $white;
              font-size: 12px;
              font-family: $montMedium;
            }
            .promotionsModal__modal_box_text-lg-sign-sm {
              font-size: 22px;
              padding-right: 3px;
              @media #{$breakpoint-md} {
                font-size: 12px;
                padding-right: 0;
              }
            }
          }
          &-mobile {
            @media #{$breakpoint-md} {
              display: block;
              color: $promo-yellow;
              font-size: 20px;
              font-family: $montBold;
            }
          }
        }
      }
      &_plus {
        font-family: $montBold;
        color: $promo-yellow;
        font-size: 40px;
        background: $bg-shade-2;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        z-index: 1;
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
      }
      &_title {
        text-transform: uppercase;
        color: $white;
        font-size: 20px;
        font-family: $montSemiBold;
        .yellow {
          color: $promo-yellow;
        }
        .apostrophe {
          font-size: 10px;
          position: relative;
          top: -4px;
        }
        &-top {
          font-size: 12px;
          color: $white;
          background: rgb(96, 112, 190);
          background: linear-gradient(180deg, rgba(96, 112, 190, 1) 0%, rgba(44, 56, 114, 1) 100%);
          font-family: $montMedium;
          border-radius: 25px;
          padding: 2px 11px;
          position: relative;
          top: -10px;
          @media #{$breakpoint-md} {
            display: none;
          }
          .apostrophe {
            font-size: 8px;
            position: relative;
            top: -2px;
          }
        }
      }
      &_arrow {
        position: absolute;
        left: 5px;
        height: 27px;
        // top: 70px;
        top: 54px;
        @media #{$breakpoint-md} {
          transform: rotate(90deg);
          right: 40px;
          left: auto;
          top: 10px;
        }
      }
    }
  }
  &__btn {
    @media #{$breakpoint-lg} {
      width: auto;
    }
  }
  &_terms {
    &-title {
      font-size: 14px;
      color: $component-color-12;
      &-bold {
        color: white;
        font-size: $montSemiBold;
      }
      &-lg {
        color: $white;
        font-family: $montBold;
        font-size: 16px;
      }
    }
  }
}
.bonus-terms {
  display: flex;
  flex-direction: column;
  padding: 30px 5px 25px;
  &__title {
    padding: 0 25px;
    width: 100%;
    display: flex;
    justify-content: center;

    color: $white;
    &-h2 {
      font-family: $montMedium;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__content {
    padding: 0 25px;
    margin-top: 50px;
    max-height: 50vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $bg-shade-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: $component-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $component-color-2;
    }
    &-section {
      display: flex;
      color: $white;
      flex-direction: column;
      &-h3 {
        font-size: 16px;
        font-family: $montSemiBold;
        line-height: 20px;
        margin-bottom: 8px;
      }
      &-p {
        font-size: 14px;
        font-family: $montRegular;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
    background-color: #131f5e;
    padding: 18px 25px;
    border-radius: 0 0 16px 16px;
  }
}
#bonusInfoModal {
  .alert-cls {
    background-color: #6070be;
  }
}
.bonus-info {
  padding: 0;
  &__header {
    background-color: $component-color-1;
    border-radius: 16px 16px 0 0;
    padding: 21px 16px;
    &-h2 {
      margin: 0;
      font-family: $montSemiBold;
      color: $white;
      font-size: 18px;
    }
  }
  &-terms__content {
    max-height: 100%;
    overflow: visible;
  }
  &-height {
    max-height: 70vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $bg-shade-1;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: $component-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $component-color-2;
    }
  }
  &__content {
    &-row {
      padding: 21px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      border-bottom: 1px solid #303d73;
      &:last-child {
        border-bottom: none;
      }
      &-h3 {
        font-family: $montBold;
        font-size: 14px;
        margin: 0;
      }
      &-p {
        font-family: $montRegular;
        font-size: 14px;
        margin: 0;
      }
    }
  }
  &__footer {
    background-color: #131f5e;
    border-radius: 0 0 16px 16px;
    &-collapse {
      color: $white;
      .icon {
        fill: $white;
      }
    }
  }
}

.bonus-delete {
  &__content {
    padding: 40px 45px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$breakpoint-md} {
      padding: 40px 15px 25px;
    }
    &-icon {
      margin-bottom: 25px;
    }
    &-span {
      color: $white;
      font-size: 18px;
      font-family: $montMedium;
      line-height: 25px;
      text-align: center;
      margin-bottom: 30px;
      &-yellow {
        color: $promo-yellow;
      }
    }
    &-btn {
      background-color: $component-color-1;
      min-width: 142px;
      color: $white;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $montMedium;
    }
  }
}
#useNowModal .b-modal__dialog {
  max-width: 70%;
  @media #{$breakpoint-md} {
    max-width: 90%;
    margin: 0 auto;
  }
}
.choose-game {
  &__title {
    width: 100%;
    text-align: center;
    font-family: $montSemiBold;
    font-size: 24px;
    line-height: 29px;
    color: $white;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 46px 30px;
    max-height: 544px;
    overflow: auto;
    @media #{$breakpoint-md} {
      padding: 30px 20px;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $bg-shade-1;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: $component-color-2;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $component-color-2;
    }
    &-item {
      margin-bottom: 30px;
      @media #{$breakpoint-md} {
        margin: 0 auto 30px;
      }
      img {
        height: 200px;
      }
      &-info {
        padding: 11px 9px;
        background-color: #0f194d;
        position: relative;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        h3 {
          color: $white;
          font-size: 14px;
          font-family: $montSemiBold;
          line-height: 18px;
        }
        span {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 15px;
          font-family: $montRegular;
          color: $component-color-12;
        }
        .icon {
          position: absolute;
          right: 9px;
          top: 11px;
          width: 15px;
          height: 15px;
          fill: $component-color-12;
        }
      }
    }
  }
}

#wager1Modal,
#wager2Modal {
  .b-modal__title {
    font-size: 30px;
    font-family: $montBold;
    color: #eeb85b;
  }
  .b-modal__text {
    font-size: 14px;
    font-family: $montRegular;
    margin-bottom: 10px;
  }
  .bt {
    color: #fff;
  }
  .bt-1 {
    background: #3a4684;
    border-radius: 6px;
  }
  .bt-2 {
    background: #2f3b75;
    border-radius: 6px;
  }
}
#nonDepositModal {
  .modal-banner {
    width: 100%;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-title {
    font-size: 25px;
    font-family: $montBold;
    color: #f8ad2e;
    text-transform: uppercase;
  }
  .modal-desc {
    font-size: 20px;
    font-family: $montSemiBold;
    color: $white;
    line-height: 32px;
    margin: 17px 0 0 0;
    .yellow {
      color: #ffd500;
    }
  }
  .modal-mot {
    font-size: 18px;
    font-family: $montSemiBold;
    color: $white;
    margin: 17px 0;
  }
  .modal-btn {
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 16px;
  }
}

.withdrawModal {
  max-width: 505px !important;
  &.active {
    transition: 8s;
    max-width: 1010px !important;
    @media #{$breakpoint-lg} {
      max-width: 505px !important;
    }
    .withdrawModal {
      &_body {
        display: flex;
        justify-content: space-between;
        height: auto;
        overflow: auto;
        &-left {
          width: 50%;
          @media #{$breakpoint-lg} {
            display: none;
          }
        }
        &-right {
          width: 50%;
          @media #{$breakpoint-lg} {
            width: 100%;
          }
          &-arrow {
            @media #{$breakpoint-lg} {
              display: none;
            }
          }
        }
      }
    }
  }
  &_body {
    width: 100%;
    height: 456px;
    overflow: hidden;
    @media #{$breakpoint-lg} {
      overflow: auto;
    }
    &-padding {
      padding: 0 69px 49px;
      @media #{$breakpoint-lg} {
        padding: 0 20px 15px;
      }
      &.desktop {
        padding: 49px 69px;
        @media #{$breakpoint-lg} {
          padding: 20px 20px 15px;
        }
      }
    }
    &__content {
      border-radius: 10px;
    }
    &-right {
      opacity: 0;
      transform: translateX(-1000%);
      transition: 0.4s;
      background-color: #0e1646;
      position: relative;
      border-radius: 0 10px 10px 0;
      @media #{$breakpoint-lg} {
        transform: translateY(100%);
        border-radius: 10px;
        background-color: $bg-shade-2;
        display: none;
      }
      &-first {
        &.active {
          opacity: 1;
          transform: translateX(0);
          @media #{$breakpoint-lg} {
            transform: translateY(0);
            display: block;
          }
          & + .withdrawModal_body-right-second {
            display: none;
          }
        }
        &.notActive {
          display: none;
        }
      }
      &-second {
        &.active {
          opacity: 1;
          transform: translateX(0);
          @media #{$breakpoint-lg} {
            transform: translateY(0);
            display: block;
          }
        }
      }
      &-arrow {
        background-color: $bg-shade-2;
        position: absolute;
        top: 50%;
        left: -25px;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          fill: $component-color-1;
          width: 24px;
        }
      }
    }
    &_title {
      color: white;
      font-family: $montSemiBold;
      font-size: 20px;
      &.sm {
        @media #{$breakpoint-lg} {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      &.md {
        font-family: $montMedium;
        font-size: 14px;
        margin-bottom: 11px;
      }
    }
    &_text {
      color: #6b729b;
      font-family: $montRegular;
      font-size: 12px;
      line-height: 1.8;
      margin-top: 7px;
    }
    &_header {
      border-radius: 10px 10px 0 0;
      padding: 49px 69px 0;
      @media #{$breakpoint-lg} {
        padding: 20px 20px;
        background-color: #0e1646;
      }
      &.mobile {
        display: none;
        @media #{$breakpoint-lg} {
          display: block;
          padding: 15px 20px;
        }
      }

      &-row {
        display: flex;
        align-items: center;
      }
      &-arrow {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bg-shade-2;
        margin-right: 10px;
        .icon {
          fill: $white;
          width: 14px;
        }
      }
    }
    &_payment {
      width: 153px;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-shade-3;
      color: $component-color-1;
      border-radius: 10px;
      margin-top: 9px;
      border: 1px solid $component-color-1;
      cursor: pointer;
      &.active {
        background-color: #0a2538;
        border: 1px solid #10b429;
      }
      &_title {
        font-size: 14px;
        font-family: $montSemiBold;
        color: $bg-shade-20;
        margin-bottom: 4px;
        margin-top: 45px;
        @media #{$breakpoint-lg} {
          margin-top: 25px;
        }
      }
      &_change {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 43px;
        margin-top: 14px;
        &_btn {
          background-color: $promo-yellow;
          border-radius: 6px;
          border: none;
          padding: 4px 13px;
          color: $bg-shade-2;
          font-family: $montMedium;
          font-size: 11px;
        }
      }
    }
    &_form {
      margin-top: 50px;
      @media #{$breakpoint-lg} {
        margin-top: 20px;
      }
      &.ecopayz {
        margin: 77px 0;
        @media #{$breakpoint-lg} {
          margin: 33px 0;
        }
      }
    }
    &_input {
      background-color: $bg-shade-3;
      border: 1px solid $component-color-1;
      border-radius: 10px;
      width: 100%;
      height: 40px;
      padding: 13px;
      font-size: 14px;
      font-family: $montMedium;
      color: $white;
      margin-bottom: 10px;
      &::-webkit-input-placeholder {
        color: #3d4d9b;
      }
      &::-moz-placeholder {
        color: #3d4d9b;
      }
      &:-ms-input-placeholder {
        color: #3d4d9b;
      }
      &:-moz-placeholder {
        color: #3d4d9b;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    &_btn {
      &-next {
        display: none;
        @media #{$breakpoint-lg} {
          display: block;
          margin-top: 30px !important;
        }
      }
    }
  }
}
#noticeModal {
  .modal-content {
    .modal-body {
      padding: 0;
      display: flex;
      flex-direction: column;
      h3 {
        padding: 21px 0;
        display: flex;
        justify-content: center;
        font-size: 21px;
        font-family: $montMedium;
        color: $white;
        text-transform: uppercase;
        border-bottom: 1px solid #2a3670;
      }
      p {
        line-height: 1.2em;
        font-size: 18px;
        font-family: $montRegular;
        color: $white;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 27px 0;
        border-bottom: 1px solid #2a3670;
      }
      span {
        margin-top: 17px;
        font-size: 14px;
        font-family: $montRegular;
        color: $white;
        display: flex;
        justify-content: center;
        a {
          color: #828ec9;
          text-decoration: underline;
          margin-left: 4px;
        }
      }
      .bt {
        margin: 23px auto 19px;
      }
    }
  }
}
.modal {
  z-index: 99999999;
}

// cryptocurrencies modal
.cryptocurrencies {
  &__modal {
    &__close{
      background-color: #583998;
      background-size: 26px;
      right: -17px;
      top: -17px;
      width: 76px;
      height: 76px;
      &:hover{
        background-color: darken(#583998, 10%);
      }
      @media #{$breakpoint-md} {
        width: 37px;
        height: 37px;
        background-size: 12px;
        right: -7px;
        top: -10px;
      }
    }
    &__content {
      background: rgba(30, 41, 96, 1);
      background: linear-gradient(180deg, rgba(103, 26, 146, 1) 0%, rgba(30, 41, 96, 1) 50%, rgba(30, 41, 96, 1) 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 38px 20px;
      @media #{$breakpoint-md} {
        padding: 20px 15px 15px;
        background: linear-gradient(180deg, rgba(103, 26, 146, 1) 0%, rgba(30, 41, 96, 1) 35%, rgba(30, 41, 96, 1) 100%);
      }
    }
    &__title {
      font-size: 26px;
      font-family: $montBold;
      color: $white;
      margin-bottom: 10px;
      text-transform: uppercase;
      position: relative;
      .yellow {
        color: #ffc400;
      }
      @media #{$breakpoint-md} {
        font-size: 16px;
        margin-bottom: 0;
      }
      @media #{$breakpoint-xxs} {
        font-size: 12px;
      }
    }
    &__body{
      padding: 0 17px 23px;
      text-align: center;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      background: rgba(30, 41, 96, 1);
      background: linear-gradient(180deg, rgba(30, 41, 96, 0.5) 0%, rgba(30, 41, 96, 1) 20%,  rgba(103, 26, 146, .5) 100%);
    }
    &__btn{
      text-transform: capitalize;
      font-family: $montSemiBold;
      font-size: 16px;
      min-width: 200px;
      &.bt-green{
        margin-right: 29px;
        @media #{$breakpoint-md} {
          margin: 0 auto 10px;
        }
      }
      &__container{
        display: flex;
        justify-content: center;
        @media #{$breakpoint-md} {
          flex-direction: column;
        }
      }
    }
    &__text{
      color: $white;
      .yellow{
        color: #FFC400;
      }
      &.sm{
        font-family: $montSemiBold;
        font-size: 15px;
        max-width: 300px;
        margin: 0 auto 16px;
        &.w-100{
          max-width: 100%;
        }
        @media #{$breakpoint-xxs} {
          font-size: 12px;
        }
      }
      &.lg{
        font-family: $montBold;
        font-size: 20px;
        text-transform: uppercase;
        @media #{$breakpoint-md} {
          font-size: 18px;
        }
        @media #{$breakpoint-xxs} {
          font-size: 14px;
        }
      }
    }
  }
  &__bg {
    height: 165px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &__img-bitcoin {
    position: relative;
    @media #{$breakpoint-md} {
      height: 170px;
      object-fit: contain;
    }
  }
}
.signUp-body--success{
  display: flex;
  flex-direction: column;
  align-items: center;
  // .radial{
  //   position: absolute;
  //   width: 539px;
  //   height: 500px;
  //   &:before{
  //     content: '';
  //     position: absolute;
  //     width: 539px;
  //     height: 500px;
  //     background: rgb(11,196,23);
  //     background: radial-gradient(circle, rgba(11,196,23,1) 0%, rgba(11,196,23,0) 100%);
  //     top: -50%;
  //   }
  // }
  .check{
    margin-top: 24px;
    display: flex;
    margin: 24px auto 0;
    width: 94px;
    height: 94px;
  }
  .h3{
    font-size: 26px;
    font-family: $montBold;
    display: flex;
    justify-content: center;
    margin: 38px auto 0;
    color: $white;
  }
  .h4{
    font-size: 15px;
    font-family: $montMedium;
    display: flex;
    justify-content: center;
    margin: 8px auto 0;
    color: $white;
  }
  .p{
    color: $white;
    font-size: 15px;
    font-family: $montMedium;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 18px auto 0;
  }
  .success-btn{
    margin: 20px auto 0;
    color: $white;
    text-transform: uppercase;
  }
  .qr-block{
    padding: 8px;
    margin: 14px 0 0;
    border-radius: 8px; 
    background: $white;
  }
  .number{
    color: $white;
    font-size: 23px;
    font-family: $montSemiBold;
    margin: 14px auto 0;
  }
  .widget-qr__address{
    margin: 10px auto 0;
    &__span{
      color: $white;
    }
    &__code{
      color: $white;
    }
    svg{
      position: absolute;
      right: 5px;
      width: 20px;
      top: 5px;
    }
  }
}