.cards-slider {
    display: block;
    @media #{$breakpoint-md} {
        margin-right: -15px;
    }
    .cards__container {
        margin-bottom: 0;
    }
}

.arr {
    &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.5;
        &:hover {
            svg {
                fill: $component-color-1 !important;
            }
        }
    }
}

//main top banner slider
.banner {
    position: relative;
    &-section {
        position: relative;
        z-index: 1;
        &.banner-section-slider{
            .banner__arrow {
                @media #{$breakpoint-lg} {
                    top: auto;
                    bottom: 7px;
                    transform: translateY(0);
                    width: 24px !important;
                    height: 24px !important;
                }
            }
            .bannerSliderNext {
                @media #{$breakpoint-xl} {
                    display: block !important;
                }
                @media #{$breakpoint-lg} {
                    right: 35% !important;
                }
            }
            .bannerSliderPrev {
                @media #{$breakpoint-xl} {
                    display: block !important;
                }
                @media #{$breakpoint-lg} {
                    left: 35% !important;
                }
            }
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        @media #{$breakpoint-md} {
            justify-content: flex-end;
            align-items: flex-end;
            text-align: left !important;
            .bt {
                width: 100%;
                margin-bottom: 50px;
                margin-top: 15px !important;
            }
        }
        .container {
            position: relative;
            z-index: 5;
        }
        &::after {
            content: "";
            width: 100%;
            height: 100px;
            transition: 0.15s ease;
            background: linear-gradient(180deg, $transparent, $bg-shade-1);
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @media #{$breakpoint-md} {
            text-align: center;
        }
        &-text {
            margin: 0;
            color: $white;
            text-shadow: 0px 5px 10px $part-shadow;
            max-width: 50%;
            &-yellow {
                color: $promo-yellow;
            }
            @media #{$breakpoint-xxl} {
                font-size: 2.5rem;
            }
            @media #{$breakpoint-xl} {
                font-size: calc(0.2rem + 3vw);
            }
            @media #{$breakpoint-md} {
                max-width: 100%;
                font-size: 18px;
                font-family: $montMedium;
            }
        }
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        // @media #{$breakpoint-md} {
        //     display: none;
        // }
        // img {
        //     @extend .cover-img;
        //     object-position: top center;
        // }
        // &-sm {
        //     @extend .banner__img;
        //     display: none;
        //     @media #{$breakpoint-md} {
        //         display: block;
        //     }
        // }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }
    &__arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        transition: background-color 0.15s;
        @media #{$breakpoint-lg} {
            display: none !important;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            svg {
                fill: $dark-white;
            }
        }
        svg {
            height: 9px;
            transition: fill 0.15s;
            fill: $component-active-color;
        }
        &.bannerPrev {
            left: 5px;
            svg {
                transform: rotate(180deg);
            }
        }
        &.bannerNext {
            right: 5px;
        }
        &.swiper-button-disabled {
            display: none !important;
        }
    }
    &__slider {
        .slick-dots {
            z-index: 10;
            bottom: 0;
            transform: translateY(-50%);
            li {
                margin: 0 10px;
                &.slick-active {
                    button {
                        &::before {
                            opacity: 1;
                            background-color: darken($component-active-color, 10%);
                        }
                    }
                }
                button {
                    width: 24px;
                    &::before {
                        font-family: unset;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 0;
                        width: 24px;
                        height: 8px;
                        border-radius: 5px;
                        background-color: darken($component-active-color, 10%);
                        opacity: 0.4;
                    }
                }
            }
        }
        &-container{
            .swiper-pagination {
                @media #{$breakpoint-lg} {
                    display: block !important;
                    bottom: 6px !important;
                }
            }
        }
    }
    &__container {
        height: 372px;
        background-color: $bg-shade-1;
        overflow: hidden;
        position: relative;
        @media #{$breakpoint-xs} {
            height: 280px;
        }
        @media #{$breakpoint-xxs} {
            height: 250px;
        }
        // &-small {
        //     max-height: 367px;
        //     @media #{$breakpoint-xxl} {
        //         height: 320px;
        //     }
        //     @media #{$breakpoint-xl} {
        //         height: calc(38vh - 71px);
        //     }
        //     @media #{$breakpoint-lg} {
        //         height: calc(30vh - 50px);
        //     }
        // }
    }
}

#bannerSlider2 {
    .banner__img {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .banner__container-small {
        height: calc(((100vw - 320px) / 4 - (4 * 30px))*1.8);
        min-height: initial;
        @media #{$breakpoint-xxl} {
            height: 390px
        }
        @media #{$breakpoint-xl-ex} {
            height: 420px
        }
        @media #{$breakpoint-xl} {
            height: 330px
        }
        @media #{$breakpoint-lg} {
            height: 425px
        }
        @media #{$breakpoint-md} {
            height: 330px
        }
        @media #{$breakpoint-sm} {
            height: 390px;
        }
        @media #{$breakpoint-xs} {
            height: 300px;
        }
        @media #{$breakpoint-xxs} {
            height: 230px
        }
    }
    .banner__arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        background-color: $transparent;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $component-active-color;
        transition: background-color 0.15s;
        display: none;
        &:hover {
            background-color: $component-active-color;
            svg {
                fill: $dark-white;
            }
        }
        svg {
            width: 16px;
            transition: fill 0.15s;
            fill: $component-active-color;
        }
        &.bannerPrev {
            left: 25px;
        }
        &.bannerNext {
            right: 25px;
        }
    }
    .promotions__banner__text{
        &-bg{
            z-index: 1;
            min-width: auto;
            width: 90%;
            padding: 20px 10px;
            top: 40%;
            &.blue{
                width: 100%;
                top: 24%;
                border-radius: 0;
                max-width: 100%;
            }
        }
        &-xl{
            font-family: $montBold;
            font-size: 42px;
            @media #{$breakpoint-xl-ex} {
                font-size: 32px;
            }
            @media #{$breakpoint-lg} {
                font-size: 24px;
            }
            @media #{$breakpoint-xxs} {
                font-size: 18px;
            }
            .yellow{
                color: #FFC400;
                font-size: 49px;
                @media #{$breakpoint-xl-ex} {
                    font-size: 36px;
                }
                @media #{$breakpoint-lg} {
                    font-size: 31px;
                }
                @media #{$breakpoint-xxs} {
                    font-size: 25px;
                }
            }
        }
        &-lg{
            font-size: 23px;
            @media #{$breakpoint-lg} {
                font-size: 15px;
            }
            @media #{$breakpoint-xxs} {
                font-size: 13px;
            }
        }
        &-sm{
            font-size: 15px;
            @media #{$breakpoint-lg} {
                font-size: 12px;
            }
            @media #{$breakpoint-xxs} {
                font-size: 10px;
            }
        }
    }
    .promoSlider{
        &__text{
            font-size: 26px;
            color: $white;
            font-family: $montBold;
            @media #{$breakpoint-lg} {
                font-size: 16px;
            }
            .yellow{
                color: #FFE711;
                font-family: $montExtraBold;
                font-size: 48px;
                @media #{$breakpoint-lg} {
                    font-size: 24px;
                }
            }
            &__container{
                position: absolute;
                z-index: 1;
                top: 32%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
            }
        }
    }
}