.gpi-calculation-result__total {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid var(--color-separator-underline)
}

.gpi-calculation-result__total-main {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}


.gpi-calculation-result__total-text {
  @include media-below(small) {
    line-height: unset;
    margin-right: unset;
    font-size: 1.6rem;
  }

  font-size: 2rem;
  font-family: NotoBold;
  color: var(--color-payment-amount-text);
  line-height: 4.5rem;
  margin-right: 2rem;
}

.gpi-calculation-result__total-original {
  @include media-below(small) {
    font-size: 2.4rem;
  }

  color: var(--color-payment-amount-sale);
  font-size: 3.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-weight: bold;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    right: 0;
    border-top: 0.3rem solid;
    border-color: inherit;
    transform: skewY(-13deg);
  }
}

.gpi-calculation-result__total-price {
  @include media-below(small) {
    font-size: 2.8rem;
  }

  margin-right: 1rem;
  margin-left: auto;
  color: var(--color-payment-amount-price);
  font-size: 4.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gpi-calculation-result__total-value {
  font-family: MiriadBold;

}

.gpi-calculation-result__total-icon {
  font-size: 2rem;
  margin-left: 0.5rem;
}
