$white: #fff;
$dark-white: #f6f6f6;
$background: #09103a;
$startBackground: #00072e;
$titleBackground: #2e83c5;
$buttonBackground: #0463ac;
$stepBackground: #2f3b75;
$stepTitle: #6070be;
$stepBorder: #3DB057;
$inputBackground: #0f194d;
$textYellow: #f8ad2e;

$component-color-1: #2f3b75;
$component-color-2: #6070be;
$component-active-color: #2e83c5;
$component-green: #10b429;

$footer-main-color: #010727;
$component-color-6: #344079;
$wgt-white: #ebebeb;
$wgt-grey: #d8d8d8;
$bg-shade-2: #09103a;
$bg-shade-1: #00072e;
$input-active-green: rgba(48, 206, 117, 0.2);
$component-red: #f2324c;
$input-active-red: rgba(225, 73, 73, 0.2);


//updateWelcome
$labelColor: #C9D1FF;
$placeholderColor: #606BAF;
$genderBg: #3c4684;
$yellow: #FFDD00;
$yellow-2: #C5A730;
$yellow-3: #ffba01;
$yellow-4: #ffd305;
$bonusBlockBg: #2C3881;
$btnGreen: #25CC88;
$dropdownBorder: #151F5B;
$dropdownGray: #9799BA;
$dropdownIcon: #95ACE2;
$detailsBlue: #8591D4;
$scrollBarTrack: #3B4895;
$termsBg: #1F2A6E;
$faqDropdownBg: #232C6D;
$enterBorder: #3C3F8F;
$priceBg: #232160;
$blue-tone-2: #34327B;
$blue-tone-3: #3C4687;
$orange: #FF7700;