.info {
  padding: 40px 0;

  &-header {
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 40px 20px;
    background-color: $bg-shade-3;

    &__title {
      font-family: $montMedium;
      font-size: 20px;
      color: $dark-white;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 14px;
      margin: 0;
      color: $component-color-12;
    }
  }

  &-container {
    background-color: $bg-shade-2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 15px;
  }

  &__payment {
    // max-width: 1100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    &-title {
      color: $dark-white;
      margin-bottom: 25px;
      font-family: $montSemiBold;
      font-size: 20px;
    }
    &__card {
      @extend .payments__card;
      &-header {
        @extend .payments__card-header;
        padding-right: 0;
        &:hover {
          background-color: lighten(#232c6d, 5%);
        }
      }
      &-img {
        padding: 10px 20px;
        // background: $wgt-white;
        @media #{$breakpoint-xl} {
          padding: 10px;
        }
        @media #{$breakpoint-lg} {
          padding: 10 15px;
        }
        @extend .payments__card-img;
        @media #{$breakpoint-lg} {
          background-color: $bg-shade-1;
        }
      }
      &-text {
        @extend .payments__card-text;
        width: 100%;
        margin: 0;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 20px;
        @media #{$breakpoint-xl} {
          padding-left: 10px;
          padding-right: 10px;
        }
        p {
          padding: 5px 0;
          color: $component-color-12;
          // width: 18%;
          width: 16%;
          text-align: center;
          &:first-child {
            width: 130px;
            @media #{$breakpoint-xl} {
              width: 105px;
            }
            @media #{$breakpoint-lg} {
              width: 100%;
            }
          }
          @media #{$breakpoint-lg} {
            width: 100%;
            font-size: 12px;
            text-align: left;
          }
          span {
            color: $dark-white;
            margin-left: 5px;
            white-space: pre-wrap;
            @media #{$breakpoint-lg} {
              margin-left: 0;
              float: right;
              max-width: 100px;
              text-align: right;
            }
          }
        }
      }
      &-btn {
        min-width: 105px;
        &-green {
          background-color: $input-green;
          border-color: $input-green;
          color: $white;
          &:hover {
            color: $white;
            background-color: #1b9973;
            border-color: #1b9973;
          }
        }
        &-purple {
          background-color: $component-color-2;
          border-color: $component-color-2;
          color: $white;
          &:hover {
            color: $white;
            background-color: $component-color-1;
            border-color: $component-color-1;
          }
        }
      }
    }
  }
}
