.page__main.jetx-container{
    background: #000!important;
    footer{
        background: #000!important;
        @media #{$breakpoint-xl}{
            margin-top: -600px;
        }
    }
}
.jetx{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./../img/jetx/jetx-bg.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color:#000000;
    min-height: 2935px;
    margin-top: 80px;
    @media #{$breakpoint-xl}{
        margin-top: 65px;
        min-height: 2620px;
        background-image: url('./../img/jetx/jetx-mobile-bg.jpg');
    }
    &-logo{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        img{
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 101px;
            }
        }
    }
    .first{
        display: flex;
        justify-content: center;
        position: relative;
        @media #{$breakpoint-xl}{
            justify-content: flex-end;
            width: 700px;
            overflow-x: auto;
            margin-left: 190px;
            margin-top: -20px;
        }
        .top-graphic{
            display: flex;
            margin-top: -80px;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                margin-top: 0;
            }
        }
        .top-text1,.top-text2,.top-text3{
            font-size: 14px;
            color: #fed806;
            font-family: $montBold;
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            @media #{$breakpoint-xl}{
                font-size: 11px;
            }
            &.top-text1{
                transform: translate(-260px,65px);
                @media #{$breakpoint-xl}{
                    transform: translate(-422px,73px);
                }
            }
            &.top-text2{
                transform: translate(12px,56px);
                font-size: 10px;
                @media #{$breakpoint-xl}{
                    transform: translate(-201px,66px);
                }
            }
            &.top-text3{
                transform: translate(267px,77px);
                @media #{$breakpoint-xl}{
                    transform: translate(274px,81px);
                    left: 0;
                    width: 700px;
                }
            }
        }
    }
    .gray-bg{
        margin-top: -31px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        @media #{$breakpoint-xl}{
            margin-top: -15px;
        }
        &-img{
            width: 100%;
            height: 100%;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                height: 55px;
            }
        }
        &-text{
            color: #fed806;
            font-size: 16px;
            font-family: $montBold;
            margin-top: 17px;
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            line-height: 24px;
            @media #{$breakpoint-xl}{
                font-size: 9.5px;
                line-height: 12px;
                margin-top: 10px;
            }
        }
    }
    &-object{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        animation: jetx 3s linear infinite;
        @media #{$breakpoint-xl}{
            margin-top: 15px;
        }
        &-img{
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 284px;
            }
        }
    }
    .start-flight{
        display: flex;
        justify-content: center;
        margin-top: 165px;
        position: relative;
        @media #{$breakpoint-xl}{
            margin-top: 45px;
        }
        &-img{
            display: flex;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 190px;
            }
        }
        &-span{
            font-size: 22px;
            color: $white;
            font-family: $montBold;
            position: absolute;
            top: 20px;
            text-transform: uppercase;
            @media #{$breakpoint-xl}{
                font-size: 12px;
                top: 13px;
            }
        }
    }
    .why{
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 130px;
        &-img{
            display: flex;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 360px;
            }
        }
        &-title{
            position: absolute;
            font-size: 18px;
            font-family: $montBold;
            color: $white;
            top: 19px;
            text-transform: uppercase;
            line-height: 22px;
            @media #{$breakpoint-xl}{
                font-size: 10px;
                line-height: 10px;
                top: 11px;
            }
        }
        &-description{
            width: 420px;
            position: absolute;
            color: $white;
            text-align: center;
            font-size: 18px;
            font-family: $montBold;
            top: 115px;
            text-transform: uppercase;
            line-height: 22px;
            @media #{$breakpoint-xl}{
                font-size: 10px;
                line-height: 16px;
                top: 58px;
            }
            .yellow{
                color: $promo-yellow;
            }
        }
    }
    .how{
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 130px;
        &-img{
            display: flex;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 360px;
            }
        }
        &-title{
            position: absolute;
            font-size: 18px;
            font-family: $montBold;
            color: $white;
            top: 18px;
            text-transform: uppercase;
            line-height: 22px;
            @media #{$breakpoint-xl}{
                font-size: 10px;
                line-height: 10px;
                top: 11px;
            }
        }
        &-description{
            position: absolute;
            color: $white;
            text-align: center;
            font-size: 18px;
            font-family: $montBold;
            top: 75px;
            text-transform: uppercase;
            padding: 0 52px;
            line-height: 20px;
            @media #{$breakpoint-xl}{
                font-size: 9px;
                line-height: 11px;
                top: 36px;
                padding: 0 20px;
            }
            .sm{
                font-size: 13px;
            }
        }
        .open-terms{
            position: absolute;
            color: $white;
            font-size: 16px;
            bottom: 30px;
            font-family: $montBold;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            @media #{$breakpoint-xl}{
                font-size: 10px;
                bottom: 14px;
            }
            &.open{
                img{
                    transform: rotate(180deg);
                }
            }
            img{
                width: 25px;
                transition: .5s ease-in-out;
                @media #{$breakpoint-xl}{
                    width: 15px;
                }
            }
        }
    }
    .terms{
        position: relative;
        display: none;
        &-img{
            display: flex;
            pointer-events: none;
            @media #{$breakpoint-xl}{
                width: 360px;
            }
        }
        &-content{
            width: 660px;
            position: absolute;
            top: 25px;
            font-size: 12px;
            color: $white;
            line-height: 15px;
            font-family: $montRegular;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            @media #{$breakpoint-xl}{
                width: 96%;
                font-size: 8px;
                line-height: 10px;
                top: 8px;
            }
        }
    }

}

@keyframes jetx{
    0%{
        transform: translateY(0);
    }
    33%{
        transform: translateY(-4px);
    }
    66%{
        transform: translateY(4px);
    }
    100%{
        transform: translate(0);
    }
}