.page__main.non-deposit{
    background: #0f0617!important;
    footer{
        background: #0f0617!important;
    }
}
.non-deposit-bonus{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background: url('./../img/promo/non-deposit/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$breakpoint-lg}{
        background-image: url('./../img/promo/non-deposit/bg-mobile.jpg');
    }
    &__section{
        display: flex;
        align-items: center;
        flex-direction: column;
        &-top{
            margin-top: 45px;
            .top-freespin{
                @media #{$breakpoint-lg}{
                    width: 350px;
                }
            }
        }
        &__steps{
            width: 805px;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            &__step{
                position: relative;
                &:last-of-type{
                    margin-right: 0!important;
                }
                &:after{
                    content: '';
                    width: 66px;
                    height: 40px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: calc(100% + 10px);
                    background: url('./../img/promo/non-deposit/arrow.png');
                }
                &:first-of-type{
                    @media #{$breakpoint-lg}{
                        margin-left: 20px;
                    }
                }
                &:last-of-type{
                    &:after{
                        display: none;
                    }
                }
                &__number{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 11px;
                    font-size: 25px;
                    font-family: $montBold;
                    color: #e7b60f;
                    text-shadow: 0px 0px 9px rgba(198, 0, 255, 1);
                }
                &__icon{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 75px;
                }
                &__text{
                    width: 100%;
                    left: 0;
                    position: absolute;
                    font-size: 16px;
                    text-align: center;
                    color: #15274c;
                    top: 155px;
                    text-transform: uppercase;
                    font-family: $montBold;
                    line-height: 1.2;
                }
            }
        }
        &-terms {
            width: 1060px;
            margin: 30px auto 45px;
            background: #0b356e;
            border-radius: 10px;
            @media (max-width: 1380px) {
              width: 900px;
            }
            @media (max-width: 992px) {
              width: 767px;
              margin: 30px auto 36px;
            }
            @media (max-width: 767px) {
              width: 320px;
            }
            @media (max-width: 370px) {
              width: 280px;
            }
            &.open {
              .non-deposit-bonus__section-terms__topbar {
                // border-bottom: 1px solid ;
                img {
                  transform: rotate(180deg);
                }
              }
              .non-deposit-bonus__section-terms__body {
                max-height: 880px;
                padding: 0 35px 25px;
                @media (max-width: 1200px) {
                  padding: 0 30px 20px;
                  max-height: 600px;
                  overflow: auto;
                }
                @media (max-width: 370px) {
                  padding: 0 20px 20px;
                }
              }
            }
            &__topbar {
              font-family: $montMedium;
              font-size: 14px;
              color: $white;
              text-transform: uppercase;
              cursor: pointer;
              padding: 25px 35px 24px;
              border-bottom: 1px solid transparent;
              transition: border-bottom 0.6s;
              position: relative;
              display: flex;
              align-items: center;
              @media (max-width: 1200px) {
                padding: 25px 30px 24px;
                font-size: 10px;
              }
              @media (max-width: 370px) {
                padding: 15px 20px 14px;
              }
              img {
                position: absolute;
                right: 35px;
                transition: 0.6s;
                @media (max-width: 1200px) {
                  width: 16px;
                  right: 30px;
                }
                @media (max-width: 370px) {
                  right: 20px;
                }
              }
            }
            &__body {
              max-height: 0;
              transition: 0.6s;
              overflow: hidden;
              padding: 0 35px 0;
              @media (max-width: 1200px) {
                padding: 0 30px 0;
              }
              @media (max-width: 370px) {
                padding: 0 20px 0;
              }
              &__section {
                padding: 20px 0 0;
                @media (max-width: 370px) {
                  padding: 15px 0 0;
                }
                &__desc {
                  p {
                    margin-bottom: 5px;
                    color: $white;
                    font-size: 13px;
                    font-family: $montMedium;
                  }
                  h3{
                      font-size: 16px;
                      font-family: $montMedium;
                      color: $white;
                      margin-bottom: 10px;
                  }
                }
              }
            }
        }
    }
    .freespin-c{
        display: flex;
        position: relative;
        justify-content: center;
        @media #{$breakpoint-lg}{
            width: 326px;
        }
        &__p{
            position: absolute;
            top: 34px;
            font-size: 14px;
            font-family: $montBold;
            color: $white;
            line-height: 1;
            margin-bottom: 0;
            text-transform: uppercase;
            @media #{$breakpoint-lg}{
                font-size: 10.4px;
                top: 28px;
            }
        }
        &__span{
            position: absolute;
            bottom: 14px;
            font-size: 14px;
            font-family: $montBold;
            color: $white;
            line-height: 1;
            text-transform: uppercase;
            @media #{$breakpoint-lg}{
                font-size: 10.4px;
                bottom: 10px;
            }
        }
    }
    .register-button{
        margin-top: 42px;
        font-size: 18px;
        font-family: $montBold;
        color: $white;
        padding: 20px 40px;
        background: #0bce1e;
        -webkit-box-shadow: 0px 4px 2px 0px rgba(13,155,10,1);
        -moz-box-shadow: 0px 4px 2px 0px rgba(13,155,10,1);
        box-shadow: 0px 4px 2px 0px rgba(13,155,10,1);
        display: flex;
        width: fit-content;
        border-radius: 28px;
        text-transform: uppercase;
        line-height: 1;
    }
    .promo__rule{
        margin-top: 50px;
        font-size: 18px;
        color: $white;
        font-family: $montRegular;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        @media #{$breakpoint-lg}{
            font-size: 14.5px;
        }
        &__bold{
            font-size: 21px;
            font-family: $montBold;
            @media #{$breakpoint-lg}{
                font-size: 17px;
            }
        }
        &__green{
            font-size: 21px;
            font-family: $montBold;
            color: #0fb70b;
            @media #{$breakpoint-lg}{
                font-size: 17px;
            }
        }
    }
    .p-games{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            text-transform: uppercase;
            color: $white;
            font-size: 18px;
            font-family: $montRegular;
            position: relative;
            margin-top: 50px;
            &:after{
                content: '';
                position: absolute;
                left: -83px;
                width: 63px;
                height: 27px;
                background: url('./../img/promo/non-deposit/ornament.png');
                transform: scaleX(-1);
            }
            &:before{
                content: '';
                position: absolute;
                right: -83px;
                width: 63px;
                height: 27px;
                background: url('./../img/promo/non-deposit/ornament.png');
            }
        }
        &__slot{
            margin-top: 30px;
            width: 303px;
            height: 235px;
            background: url('./../img/promo/non-deposit/slot-bg.png');
            @media #{$breakpoint-lg}{
                margin-top: 40px;
                margin-bottom: 10px;
            }
            a{
                display: flex;
                margin-top: 19px;
                margin-left: 64px;
            }
        }
    }
}

