<footer class="footer">
    <div class="container footer-container">
        <div class="footer__basic">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="d-flex justify-content-center">
                        <ul class="footer__basic-menu">
                            <li>
                                <h4>Getting started</h4>
                            </li>
                            <li><a href="deposit.html">Deposits</a></li>
                            <li><a href="faq.html#payments">Payments FAQ</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="withdraw.html">Withdrawals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="d-flex justify-content-center">
                        <ul class="footer__basic-menu">
                            <li>
                                <h4>Information</h4>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="payment-methods.html">Payment methods</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="https://help.betvili.com/" target="_blank" rel="noopener noreferrer">Help Center</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="d-flex justify-content-center">
                        <ul class="footer__basic-menu">
                            <li>
                                <h4>Legal</h4>
                            </li>
                            <li><a href="terms-and-conditions.html">Terms and conditions</a></li>
                            <li><a href="terms-and-conditions.html">Bonus terms and conditions</a></li>
                            <li><a href="terms-and-conditions.html">Privacy Policy</a></li>
                            <li><a href="responsiblegaming.html">Responsible gaming</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="d-flex justify-content-center">
                        <div>
                            <!-- <img src="assets/img/icons/18+.webp" alt="" class="footer__basic-img-18"> -->
                            <picture>
                                <source srcset="assets/img/icons/18+.webp" type="image/webp">
                                <source srcset="assets/img/icons/18-.png" type="image/png"> 
                                    <img src="assets/img/icons/18-.png" alt="18+" class="footer__basic-img-18">
                            </picture>
                                <p class="footer__basic-text">
                                    Gambling can be addictive. Play responsibly..
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__providers footer__paddings">
            <a href="#!" class="img">
                <img src="assets/img/providers/new/evolution.svg" alt="">
            </a>
            <a href="#!" class="img disabled">
                <img src="assets/img/providers/new/microgaming.svg" alt="">
                <div class="gameProvider-item_popover">
                    Game is blocked in your country
                </div>
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/playNgo.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/bc.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/thunderkick.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/ygg.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/netent.svg" alt="">
            </a>
            <a href="#!" class="img">
                <img src="assets/img/providers/new/btg.svg" alt="">
            </a>
        </div>
        <div class="footer__line"></div>
        <div class="footer__paddings">
            <div class="footer__payment ">
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/visa.webp" type="image/webp">
                        <source srcset="assets/img/payment/visa.png" type="image/png"> 
                            <img src="assets/img/payment/visa.png" alt="" class="footer__payment-visa">
                      </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mastercard.webp" type="image/webp">
                        <source srcset="assets/img/payment/mastercard.png" type="image/png"> 
                        <img src="assets/img/payment/mastercard.png" alt=""  class="footer__payment-mastercard">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/neosurf.webp" type="image/webp">
                        <source srcset="assets/img/payment/neosurf.png" type="image/png"> 
                        <img src="assets/img/payment/neosurf.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/ecopayz.webp" type="image/webp">
                        <source srcset="assets/img/payment/ecopayz.png" type="image/png"> 
                        <img src="assets/img/payment/ecopayz.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/skrill.webp" type="image/webp">
                        <source srcset="assets/img/payment/skrill.png" type="image/png"> 
                        <img src="assets/img/payment/skrill.png" alt=""  class="footer__payment-skrill">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/neteller.webp" type="image/webp">
                        <source srcset="assets/img/payment/neteller.png" type="image/png"> 
                        <img src="assets/img/payment/neteller.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/jetongo.webp" type="image/webp">
                        <source srcset="assets/img/payment/jetongo.png" type="image/png"> 
                        <img src="assets/img/payment/jetongo.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/jeton.webp" type="image/webp">
                        <source srcset="assets/img/payment/jeton.png" type="image/png"> 
                        <img src="assets/img/payment/jeton.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/sticpay.webp" type="image/webp">
                        <source srcset="assets/img/payment/sticpay.png" type="image/png"> 
                        <img src="assets/img/payment/sticpay.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/cash.webp" type="image/webp">
                        <source srcset="assets/img/payment/cash.png" type="image/png"> 
                        <img src="assets/img/payment/cash.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/interac.webp" type="image/webp">
                        <source srcset="assets/img/payment/interac.png" type="image/png"> 
                        <img src="assets/img/payment/interac.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/rapid.webp" type="image/webp">
                        <source srcset="assets/img/payment/rapid.png" type="image/png"> 
                        <img src="assets/img/payment/rapid.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/astropay.webp" type="image/webp">
                        <source srcset="assets/img/payment/astropay.png" type="image/png"> 
                        <img src="assets/img/payment/astropay.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/yandex.webp" type="image/webp">
                        <source srcset="assets/img/payment/yandex.png" type="image/png"> 
                        <img src="assets/img/payment/yandex.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/qiwi.webp" type="image/webp">
                        <source srcset="assets/img/payment/qiwi.png" type="image/png"> 
                        <img src="assets/img/payment/qiwi.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/alfa.webp" type="image/webp">
                        <source srcset="assets/img/payment/alfa.png" type="image/png"> 
                        <img src="assets/img/payment/alfa.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/applepay.webp" type="image/webp">
                        <source srcset="assets/img/payment/applepay.png" type="image/png"> 
                        <img src="assets/img/payment/applepay.png" alt=""  class="footer__payment-applePay">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/paysafe.webp" type="image/webp">
                        <source srcset="assets/img/payment/paysafe.png" type="image/png"> 
                        <img src="assets/img/payment/paysafe.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/flexepin.webp" type="image/webp">
                        <source srcset="assets/img/payment/flexepin.png" type="image/png"> 
                        <img src="assets/img/payment/flexepin.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/perfect.webp" type="image/webp">
                        <source srcset="assets/img/payment/perfect.png" type="image/png"> 
                        <img src="assets/img/payment/perfect.png" alt="" class="footer__payment-perfectMoney">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/muchbetter.webp" type="image/webp">
                        <source srcset="assets/img/payment/muchbetter.png" type="image/png"> 
                        <img src="assets/img/payment/muchbetter.png" alt="" class="footer__payment-muchBetter">
                    </picture>
                </div>                

                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity2.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity2.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity2.png" alt="" class="footer__payment-mifinity">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity3.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity3.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity3.png" alt="" class="footer__payment-mifinity">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity4.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity4.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity4.png" alt="" class="footer__payment-mifinity">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity5.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity5.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity5.png" alt="" class="footer__payment-mifinity">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/mifinity6.webp" type="image/webp">
                        <source srcset="assets/img/payment/mifinity6.png" type="image/png"> 
                        <img src="assets/img/payment/mifinity6.png" alt="" class="footer__payment-mifinity">
                    </picture>
                </div>
                <!-- <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/trustly-mifinity.webp" type="image/webp">
                        <source srcset="assets/img/payment/trustly-mifinity.png" type="image/png"> 
                        <img src="assets/img/payment/trustly-mifinity.png" alt="">
                    </picture>
                </div>
                <div class="img">
                    <picture>
                        <source srcset="assets/img/payment/klarna-mifinity1.webp" type="image/webp">
                        <source srcset="assets/img/payment/klarna-mifinity1.png" type="image/png"> 
                        <img src="assets/img/payment/klarna-mifinity1.png" alt="">
                    </picture>
                </div> -->
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__partners footer__paddings">
            <div class="footer__partners-left">
                <h3 class="footer__partners__title">Become the affiliate partner</h3>
                <a href="https://betvilipartners.com/" target="_blank" rel="noopener noreferrer" class="footer__partners-link">
                    <img src="../assets/img/footer/betviliPartnersLogo.svg" alt="betvili partners"  class="footer__partners_logo-betvili">
                </a>
            </div>
            <div class="footer__line-vertical"></div>
            <div class="footer__partners-right">
                <a href="https://online.casino/reviews/betvili/" target="_blank" rel="noopener noreferrer" class="footer__partners-link">
                    <picture>
                        <source srcset="assets/img/footer/online.casino-seal-white.webp" type="image/webp">
                        <source srcset="assets/img/footer/online.casino-seal-white.png" type="image/png"> 
                            <img src="assets/img/footer/online.casino-seal-white.png" alt="online casino" class="footer__partners_logo">
                    </picture>
                </a>
                <a href="https://casino.guru/betvili-casino-review" target="_blank" rel="noopener noreferrer" class="footer__partners-link">
                    <img src="../assets/img/footer/casinoguru_logo.svg" alt="Casino Guru"  class="footer__partners_logo">
                </a>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__bottom">
            <picture>
                <source srcset="assets/img/license.webp" type="image/webp">
                <source srcset="assets/img/license.png" type="image/png"> 
                    <img src="assets/img/license.png" alt="license">
            </picture>
            <div style="flex: 1 0 0;"> 
                <h4>© Copyright 2020, Synvestment N.V. All rights reserved. </h4>
                <p>
                    Synvestment N.V is Licensed and regulated to offer online gaming services under the Curaçao eGaming License #8048/JAZ2020-007. The address of our company is: Landhuis Groot Kwartier, Groot Kwartierweg 12, Willemstad, Curacao. Registered at the Chamber of Commerce under the number 151973. Payment Agent Techsential Limited, Registration number: HE408117, 3 Chytron street, Flat/Office 301 P.C 1075, Nicosia, Cyprus. Gambling can be addictive, please play responsibly. For more information on support tools, please visit our Responsible Gambling page.
                    <p>Skrill, Neteller payments are processed by Synvestment N.V.</p>
                </p>
            </div>
        </div>
    </div>
</footer>