<nav class="navbar login">
  <div class="container-fluid">
    <div class="logo">
      <div class="logo__btn active"></div>
      <div class="logo__img logo__img-mobile">
        <a href="index-logged.html">
          <img src="assets/img/icon.svg" alt="">
        </a>
      </div>
    </div>
    <div class="search">
      <form action="">
        <div class="search__container">
          <div class="search__input">
            <input type="text" placeholder="Search for a game">
            <svg class="icon">
              <use xlink:href="#ico-search"></use>
            </svg>
          </div>
          <div class="search__result notActive">
            <div class="search__result-navbar">
              <!-- <ul>
                <li>
                  <button type="button" class="active">All</button>
                </li>
                <li>
                  <button type="button">Games</button>
                </li>
                <li>
                  <button type="button">Live casino</button>
                </li>
                <li>
                  <button type="button">Other</button>
                </li>
              </ul> -->
              <button class="cls">
                <svg class="icon">
                  <use xlink:href="#ico-times"></use>
                </svg>
              </button>
            </div>
            <div class="search__result-filter">
              <ul>
                <li>
                  <div class="filter__btn">
                    <div class="filter__btn-label filter__btn-placeholder">
                      <div class="ico">
                        <svg class="icon">
                          <use xlink:href="#ico-filter"></use>
                        </svg>
                      </div>
                      <span>Categories</span>
                      <div class="ico arrow">
                        <svg class="icon">
                          <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="filter__btn-counter d-none">
                      <span>12</span>
                    </div>
                    <div class="filter__btn-list">
                      <div class="filter-scroller">
                        <ul>
                          <li>
                            <div class="check">
                              <input id="Slots-sm" type="checkbox">
                              <label for="Slots-sm">Slots</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="JackpotSlots-sm" type="checkbox">
                              <label for="JackpotSlots-sm">Jackpot Slots</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Trending-sm" type="checkbox">
                              <label for="Trending-sm">Trending</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="New-sm" type="checkbox">
                              <label for="New-sm">New</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Roulette-sm" type="checkbox">
                              <label for="Roulette-sm">Roulette</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="TableGames-sm" type="checkbox">
                              <label for="TableGames-sm">Table Games</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="SkillGames-sm" type="checkbox">
                              <label for="SkillGames-sm">Skill Games</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="VideoPocker-sm" type="checkbox">
                              <label for="VideoPocker-sm">Video Pocker</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="LiveRoulette-sm" type="checkbox">
                              <label for="LiveRoulette-sm">Live Roulette</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Blackjack-sm" type="checkbox">
                              <label for="Blackjack-sm">Blackjack</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="GameShows-sm" type="checkbox">
                              <label for="GameShows-sm">Game Shows</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Baccarat-sm" type="checkbox">
                              <label for="Baccarat-sm">Baccarat</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="filter__btn">
                    <div class="filter__btn-label filter__btn-placeholder">
                      <div class="ico">
                        <svg class="icon">
                          <use xlink:href="#ico-filter"></use>
                        </svg>
                      </div>
                      <span>Providers</span>
                      <div class="ico arrow">
                        <svg class="icon">
                          <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="filter__btn-counter d-none">
                      <span>2</span>
                    </div>
                    <div class="filter__btn-list">
                      <div class="filter-scroller">
                        <ul>
                          <li>
                            <div class="check">
                              <input id="OneTouch" type="checkbox">
                              <label for="OneTouch">OneTouch</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Microgaming" type="checkbox">
                              <label for="Microgaming">Microgaming</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Yggdrasil" type="checkbox">
                              <label for="Yggdrasil">Yggdrasil</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="RedTiger" type="checkbox">
                              <label for="RedTiger">Red Tiger</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="Netent" type="checkbox">
                              <label for="Netent">Netent</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="filter__btn">
                    <div class="filter__btn-label filter__btn-placeholder">
                      <div class="ico">
                        <svg class="icon">
                          <use xlink:href="#ico-features"></use>
                        </svg>
                      </div>
                      <span>Features</span>
                      <div class="ico arrow">
                        <svg class="icon">
                          <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="filter__btn-counter d-none">
                      <span>4</span>
                    </div>
                    <div class="filter__btn-list">
                      <div class="filter-scroller">
                        <ul>
                          <li>
                            <div class="check">
                              <input id="feature1" type="checkbox">
                              <label for="feature1">feature 1</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature2" type="checkbox">
                              <label for="feature2">feature 2</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature3" type="checkbox">
                              <label for="feature3">feature 3</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature4" type="checkbox">
                              <label for="feature4">feature 4</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature5" type="checkbox">
                              <label for="feature5">feature 5</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature6" type="checkbox">
                              <label for="feature6">feature 6</label>
                            </div>
                          </li>
                          <li>
                            <div class="check">
                              <input id="feature7" type="checkbox">
                              <label for="feature7">feature 7</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="search__result-container">
              <h4 class="title-sm">Popular Searches</h4>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-3.webp" type="image/webp">
                      <source srcset="assets/img/games/game-3.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-3.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-2.webp" type="image/webp">
                      <source srcset="assets/img/games/game-2.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-2.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Dragon Pearl</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-4.webp" type="image/webp">
                      <source srcset="assets/img/games/game-4.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-4.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-2.webp" type="image/webp">
                      <source srcset="assets/img/games/game-2.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-2.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Dragon Pearl</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-3.webp" type="image/webp">
                      <source srcset="assets/img/games/game-3.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-3.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Medusa Fortune and Glory</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
              <div class="result-card">
                <a href="#!">
                  <div class="result-card__img">
                    <svg class="icon">
                      <use xlink:href="#ico-play-alt"></use>
                    </svg>
                    <picture>
                      <source srcset="assets/img/games/game-2.webp" type="image/webp">
                      <source srcset="assets/img/games/game-2.jpg" type="image/jpg"> 
                      <img src="assets/img/games/game-2.jpg" alt="">
                  </picture>
                  </div>
                  <div class="result-card__info">
                    <h2 class="result-card__info-game">Dragon Pearl</h2>
                    <p class="result-card__info-provider">hacksaw gaming</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- <div class="search__result_counter-container">
              <div class="search__result_counter-text">Total search: <span>58 results</span></div>
              <div>
                <a href="searchResult.html" class="search__result_counter-link">
                  <span>See all</span>
                  <svg class="icon">
                    <use xlink:href="#ico-chevron-right"></use>
                  </svg>

                </a>
              </div>
            </div> -->
          </div>
        </div>
      </form>
    </div>
    <div class="user">
      <div class="user__nav">
        <div class="user__nav-user user__nav-user-margins">
          <a href="profile-deposit.html" class="bt bt-green btn-ripple">Deposit</a>
          <a href="profile-deposit.html#buyBtc" class="bt bt-disabled-b btn-ripple user__nav-user__btc-btn">Buy BTC</a>
          <div class="currency-btn">
              <div class="bt bt-disabled-b">
                <span class="currency">€</span>
                <span>1000</span>
                <svg class="icon">
                  <use xlink:href="#ico-chevron-down"></use>
                </svg>
              </div>
              <div class="currency-item">
                <span class="currency">BTC</span>
                <span>0.00008</span>
              </div>
          </div>
        </div>
        <div class="user__nav-notifications">
          <div class="user__nav-notifications-btn">
            <svg class="icon">
              <use xlink:href="#notificationsIcon"></use>
            </svg>
            <div class="user__nav-notifications-new-alert">
              <span>2</span>
            </div>
          </div>
          <div class="user__nav-notifications-dropdown">
            <div class="user__nav-notifications-dropdown-header">
              <div class="d-flex align-items-center">
                <h4 class="user__nav-notifications-dropdown-title">Notifications</h4>
                <div class="user__nav-notifications-new-alert large">
                  <span>2</span>
                </div>
              </div>
              <div class="user__nav-notifications-dropdown-link-cont">
                <a href="profile.html#notifications" class="user__nav-notifications-dropdown-title">See all</a>
                <svg class="icon">
                  <use xlink:href="#ico-chevron-right"></use>
                </svg>
              </div>
            </div>
            <a href="profile.html#notifications" class="user__nav-notifications-dropdown-item">
              <h5 class="user__nav-notifications-dropdown-title-sm">
                Please verify your phone number
              </h5>
              <div class="user__nav-notifications-dropdown-title-sm dark">18.05.2020</div>
            </a>
            <a href="profile.html#notifications" class="user__nav-notifications-dropdown-item">
              <h5 class="user__nav-notifications-dropdown-title-sm">
                Please verify your phone number
              </h5>
              <div class="user__nav-notifications-dropdown-title-sm dark">18.05.2020</div>
            </a>
          </div>
        </div>
        <div class="user__nav-side">
          <button class="user__nav-btn">
            <svg class="icon d-none d-md-block">
              <use xlink:href="#userIcon"></use>
            </svg>
            <img src="../assets/img/icons/user-icon-white.svg" alt="" class="icon d-block d-md-none">
          </button>
          <div class="user__nav-dropdown-top userside-dropdown">
            <div class="user__nav-dropdown ">
              <div class="user__nav-dropdown_header">
                <span>Hello, Logovector</span>
              </div>
              <div class="user__nav-dropdown-line"></div>
              <div class="user__nav-dropdown_body">
                <div class="user__nav-dropdown_body_text"><a href="profile.html#balance" class="user__nav-dropdown_body_text">Balance</a></div>
                <h4 class="user__nav-dropdown_body_text-lg">€450</h4>
                <div class="user__nav-dropdown_body_balance">
                  <div class="user__nav-dropdown_body_text-container">
                    <span class="user__nav-dropdown_body_text">Withdrawble: </span>
                    <span class="user__nav-dropdown_body_text-green">€450</span>
                  </div>
                  <div class="user__nav-dropdown_body_text-container">
                    <span class="user__nav-dropdown_body_text">Bonus: </span>
                    <span class="user__nav-dropdown_body_text-yellow">€200</span>
                  </div>
                </div>
                <div class="user__nav-dropdown_body_btn_container">
                  <a href="profile.html#deposit-now" class="user__nav-dropdown_body_btn green btn-ripple">deposit</a>
                  <a href="profile.html#threestepverification" class="user__nav-dropdown_body_btn transparent">cashout</a>
                </div>
              </div>
              <div class="user__nav-dropdown-line"></div>
              <ul class="user__nav-dropdown_list">
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#balance">
                    <svg class="icon">
                      <use xlink:href="#navbar-balance"></use>
                    </svg>
                    <span>Balance</span>
                  </a>
                </li>
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#bonuses">
                    <svg class="icon">
                      <use xlink:href="#gift"></use>
                    </svg>
                    <span>Bonuses</span>
                  </a>
                </li>
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#account">
                    <svg class="icon">
                      <use xlink:href="#navbar-account-information"></use>
                    </svg>
                    <span>Account</span>
                  </a>
                </li>
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#verification">
                    <svg class="icon">
                      <use xlink:href="#navbar-verification"></use>
                    </svg>
                    <span>KYC Verification</span>
                  </a>
                </li>
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#security">
                    <svg class="icon">
                      <use xlink:href="#navbar-security"></use>
                    </svg>
                    <span>Security</span>
                  </a>
                </li>
                <li>
                  <a class="user__nav-dropdown-link btn-ripple" href="profile.html#notifications">
                    <svg class="icon">
                      <use xlink:href="#navbar-notification"></use>
                    </svg>
                    <span>Notifications</span>
                  </a>
                </li>
              </ul>
              <div class="user__nav-dropdown-line"></div>
              <div class="user__nav-dropdown_footer">
                <div class="log-out">
                  <a class="user__nav-dropdown-link btn-ripple" href="index.html">
                    <svg class="icon">
                      <use xlink:href="#navbar-logout"></use>
                    </svg>
                    <span>Log out</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="user__nav-dropdown userside-dropdown">
            <ul>
              <li class="user__nav-dropdown_header">
                <a href="profile.html" class="user__nav-name">
                  <span>username1</span>
                </a>
              </li>
              <li>
                <a href="profile.html#balance">
                  <svg class="icon">
                    <use xlink:href="#navbar-balance"></use>
                  </svg>
                  <span>Balance</span>
                </a>
              </li>
              <li>
                <a href="profile.html#account">
                  <svg class="icon">
                    <use xlink:href="#navbar-account-information"></use>
                  </svg>
                  <span>Account information</span>
                </a>
              </li>
              <li>
                <a href="profile.html#history">
                  <svg class="icon">
                    <use xlink:href="#navbar-transaction-history"></use>
                  </svg>
                  <span>Transaction history</span>
                </a>
              </li>
              <li>
                <a href="profile.html#security">
                  <svg class="icon">
                    <use xlink:href="#navbar-security"></use>
                  </svg>
                  <span>Security</span>
                </a>
              </li>
              <li>
                <a href="profile.html#verification">
                  <svg class="icon">
                    <use xlink:href="#navbar-verification"></use>
                  </svg>
                  <span>KYC verification</span>
                </a>
              </li>
              <li>
                <a href="profile.html#notifications">
                  <svg class="icon">
                    <use xlink:href="#navbar-notification"></use>
                  </svg>
                  <span>Notifications</span>
                </a>
              </li>
              <li>
                <a href="profile.html#bonuses">
                  <svg class="icon">
                    <use xlink:href="#gift"></use>
                  </svg>
                  <span>Bonuses</span>
                </a>
              </li>
              <li class="log-out">
                <a href="index.html">
                  <svg class="icon">
                    <use xlink:href="#navbar-logout"></use>
                  </svg>
                  <span>Log out</span>
                </a>
              </li>
            </ul>
          </div> -->
        </div>
        <div class="user__nav-lang">
          <div class="user__nav-lang-btn">
            <img src="../assets/img/icons/england.svg" alt="eng" class="user__nav-lang-btn-img">
          </div>
          <nav class="user__nav-lang-dropdown-list">
            <a href="#!" class="user__nav-lang-dropdown-list-item active">
              <img src="../assets/img/icons/england.svg" alt="eng" class="user__nav-lang-dropdown-list-item-img">
              <span>eng</span>
            </a>
            <a href="#!" class="user__nav-lang-dropdown-list-item">
              <img src="../assets/img/icons/portugal.svg" alt="por" class="user__nav-lang-dropdown-list-item-img">
              <span>por</span>
            </a>
            <a href="#!" class="user__nav-lang-dropdown-list-item">
              <img src="../assets/img/icons/spain.svg" alt="spn" class="user__nav-lang-dropdown-list-item-img">
              <span>spn</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>