<div class="sidebar">
    <div class="logo">
        <div class="logo__img">
            <a href="index.html" class="logo__img__lg">
                <img src="assets/img/logo.svg" alt="">
            </a>
            <a href="index.html" class="logo__img__sm">
                <img src="assets/img/icon.svg" alt="">
            </a>
        </div>
        <div class="logo__btn"></div>
    </div>
    <div class="sidebar__content">
        <!-- <div class="sidebar__loyalty__container">
            <div class="sidebar__loyalty">
                <img src="assets/img/loyalty_icon.svg" alt="loyalty program" class="sidebar__loyalty__img">
                <h2 class="sidebar__loyalty__title">Loyalty program</h2>
                <a href="#" class="sidebar__loyalty__link">See Details</a>
                <div class="sidebar__loyalty__line"></div>
                <a href="#!" class="sidebar__loyalty__btn" data-toggle="modal" data-target="#signUpModal">Register</a>
            </div>
        </div> -->
        <div class="sidebar__list">
            <!-- <ul class="sidebar__list-margins sidebar__loyalty__icon-sm">
                <li class="sidebar__list-li">
                    <a href="#">
                        <img src="assets/img/loyalty_icon.svg" alt="">

                    </a>
                </li>
            </ul> -->
            <ul class="sidebar__list-margins">
                <li class="sidebar__list-li">
                    <a href="promotions.html">
                        <img src="assets/img/icons/set/promotions1.svg" alt="">
                        <span>Promotions</span>
                    </a>
                </li>
            </ul>

            <ul class="sidebar__list-margins sidebar-jetx">
                <li class="sidebar__list-li">
                    <a href="#!" class="sidebar-jetx__link">
                        <div class='l-wrap'>
                            <div class="jetx_an"></div>
                            <img src="assets/img/jetx/jetx-sidebar.png" alt="JetX">
                        </div>
                        <div class='badge'>new</div>
                    </a>
                </li>
            </ul>

            <ul class="sidebar__list__cont">
                <li class="sidebar__list-li">
                    <a href="slots.html">
                        <img src="assets/img/icons/set/slots1.svg" alt="">
                        <span>Casino Games</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="live-casino.html">
                        <img src="assets/img/icons/set/liveCasino.svg" alt="">
                        <span>Live Casino</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="rtp.html">
                        <img src="assets/img/icons/set/liveRtp.svg" alt="">
                        <span>Live RTP</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/bonusWagering.svg" alt="">
                        <span>Wager your bonus</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar__list-margins">
                <li class="sidebar__list-li">
                    <a href="payment-methods.html">
                        <img src="assets/img/icons/set/Wallet.svg" alt="">
                        <span>Payments</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__footer">
            <div class="sidebar__footer-flex">
                <div class="lang">
                    <div class="lang-flag">
                        <img src="../assets/img/icons/england.svg" alt="">
                    </div>
                    <span class="lang-name">Eng</span>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="lang-container">
                <ul>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/england.svg" alt="">
                            </div>
                            <span class="lang-name">eng</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/portugal.svg" alt="">
                            </div>
                            <span class="lang-name">por</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/spain.svg" alt="">
                            </div>
                            <span class="lang-name">spn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>