<div class="sidebar">
    <div class="logo">
        <div class="logo__img">
            <a href="index-logged.html" class="logo__img__lg">
                <img src="assets/img/logo.svg" alt="">
            </a>
            <a href="index-logged.html" class="logo__img__sm">
                <img src="assets/img/icon.svg" alt="">
            </a>
        </div>
        <div class="logo__btn"></div>
    </div>
    <div class="sidebar__content">
        <!-- <div class="sidebar__loyalty__container">
            <div class="sidebar__loyalty authorized">
                <img src="assets/img/loyalty_icon.svg" alt="loyalto program" class="sidebar__loyalty__img">
                <h2 class="sidebar__loyalty__title margins">Loyalty program</h2>
                <div class="sidebar__loyalty__line"></div>
                <div class="sidebar__loyalty-progressBar-cont">
                    <div class="sidebar__loyalty-progressBar-text-cont">
                      <span class="sidebar__loyalty-progressBar-text">45% for next level</span>
                      <span class="sidebar__loyalty-progressBar-text">1500</span>
                    </div>
                    <div class="sidebar__loyalty-progressBar">
                      <div class="sidebar__loyalty-progressBar-fill"> </div>
                    </div>
                    <a href="#" class="sidebar__loyalty__link authorized">See Details</a>
                  </div>
            </div>
        </div> -->
        <div class="sidebar__list">
            <!-- <ul class="sidebar__list-margins sidebar__loyalty__icon-sm">
                <li class="sidebar__list-li">
                    <a href="#">
                        <img src="assets/img/loyalty_icon.svg" alt="">
                    </a>
                </li>
            </ul> -->
            <ul class="sidebar__list__cont sidebar__list-margins">
                <li class="sidebar__list-li">
                    <a href="promotions.html">
                        <img src="assets/img/icons/set/promotions1.svg" alt="">
                        <span>Promotions</span>
                    </a>
                </li>
                <li class="sidebar__list-li-line"></li>
                <li class="sidebar__list-li">
                    <a href="profile.html#bonuses">
                        <img src="assets/img/icons/set/bonuses1.svg" alt="">
                        <span>My Bonuses</span>
                        <div class="sidebar__list-li-qt">2</div>
                    </a>
                </li>
            </ul>

            <ul class="sidebar__list-margins sidebar-jetx">
                <li class="sidebar__list-li">
                    <a href="#!" class="sidebar-jetx__link">
                        <div class='l-wrap'>
                            <div class="jetx_an"></div>
                            <img src="assets/img/jetx/jetx-sidebar.png" alt="JetX">
                        </div>
                        <div class='badge'>new</div>
                    </a>
                </li>
            </ul>
            
            <ul class="sidebar__list__cont">
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/mygames.svg" alt="">
                        <span>My games</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/RecentlyPlayed.svg" alt="">
                        <span>Recently Played</span>
                    </a>
                </li>
                <li class="sidebar__list-li-line"></li>
                <li class="sidebar__list-li">
                    <a href="slots.html">
                        <img src="assets/img/icons/set/slots1.svg" alt="">
                        <span>Casino Games</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="live-casino.html">
                        <img src="assets/img/icons/set/liveCasino.svg" alt="">
                        <span>Live Casino</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="rtp.html">
                        <img src="assets/img/icons/set/liveRtp.svg" alt="">
                        <span>Live RTP</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/bonusWagering.svg" alt="">
                        <span>Wager your bonus</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar__list-margins">
                <li class="sidebar__list-li">
                    <a href="payment-methods.html">
                        <img src="assets/img/icons/set/Wallet.svg" alt="">
                        <span>Payments</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- <div class="sidebar__list">
            <ul>
                <li class="sidebar__list-title">
                    <a href="games.html">GAMES</a>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-up"></use>
                        </svg>
                    </button>
                </li>
                <li class="sidebar__list-li">
                    <ul>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/new.svg" alt="">
                                <span>New</span>
                            </a>
                        </li>
                        <li>
                            <a href="slots.html">
                                <img src="assets/img/icons/set/slots.svg" alt="">
                                <span>Slots</span>
                            </a>
                        </li>
                        <li class="sidebar__list-li">
                            <a href="wager.html">
                                <img src="assets/img/icons/set/wager.svg" alt="">
                                <span>Wager your bonus</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/jackpot-slots.svg" alt="">
                                <span>Jackpot Slots</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/roulette.svg" alt="">
                                <span>Roulette</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/video-pocker.svg" alt="">
                                <span>Video Pocker</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <img src="assets/img/icons/set/table-games.svg" alt="">
                                <span>Table games</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="sidebar__list-title">
                    <a href="live-casino.html">LIVE CASINO</a>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-up"></use>
                        </svg>
                    </button>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/live-roulette.svg" alt="">
                        <span>Live Roulette</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/blackjack.svg" alt="">
                        <span>Live Blackjack</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="baccarat.html">
                        <img src="assets/img/icons/set/baccarat.svg" alt="">
                        <span>Live Baccarat</span>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/game-shows.svg" alt="">
                        <span>Live Game Shows</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="sidebar__list-li">
                    <a href="promotions.html">
                        <img src="assets/img/icons/set/promotions.svg" alt="">
                        <span>PROMOTIONS</span>
                        <div class="qt">21</div>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="#!">
                        <img src="assets/img/icons/set/tournaments.svg" alt="">
                        <span>TOURNAMENTS</span>
                        <div class="qt">9</div>
                    </a>
                </li>
                <li class="sidebar__list-li">
                    <a href="rtp.html">
                        <img src="assets/img/icons/liveRtp.svg" alt="" >
                        <span>Live RTP</span>
                    </a>
                </li> 
            </ul>
        </div> -->
        <div class="sidebar__footer">
            <div class="sidebar__footer-flex">
                <div class="lang">
                    <div class="lang-flag">
                        <img src="../assets/img/icons/england.svg" alt="">
                    </div>
                    <span class="lang-name">Eng</span>
                    <button class="sidebar__btn">
                        <svg class="icon">
                            <use xlink:href="#ico-chevron-down"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="lang-container">
                <ul>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/england.svg" alt="">
                            </div>
                            <span class="lang-name">eng</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/portugal.svg" alt="">
                            </div>
                            <span class="lang-name">por</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <div class="lang-flag">
                                <img src="../assets/img/icons/spain.svg" alt="">
                            </div>
                            <span class="lang-name">spn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
