{{!-- This is the base layout for your project, and will be used on every page.
--}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=0, shrink-to-fit=no"
    />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1A1F26" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1A1F26" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1A1F26" />
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/style.css?v=1.7" />
  </head>

  <body>
    <!--svg sprite all used icons-->
    <svg width="0" height="0" class="hidden">
      <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.626 22.126" id="copy-icon">
        <path d="M11.711 22.126H3.457A3.461 3.461 0 010 18.669V6.958A3.461 3.461 0 013.457 3.5h8.254a3.461 3.461 0 013.457 3.457v11.712a3.461 3.461 0 01-3.457 3.457zM3.457 5.229a1.731 1.731 0 00-1.728 1.729v11.711A1.731 1.731 0 003.457 20.4h8.254a1.731 1.731 0 001.729-1.729V6.958a1.731 1.731 0 00-1.729-1.729zm15.169 11.279V3.457A3.461 3.461 0 0015.169 0H5.575a.864.864 0 100 1.729h9.594A1.731 1.731 0 0116.9 3.457v13.051a.864.864 0 101.729 0zm0 0"></path>
      </symbol>
    </svg>
    <!--svg sprite all used icons end-->

    <div class="page active">
      <!--all modals here-->
      {{>modals}}
      <!--******-->
      <div class="page__main">
        <div class="page__content">{{>body}} {{>footer}}</div>
      </div>
    <script src="assets/vendors/js/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
